[2015-07-01 13:42] dimrsilva opened #1 "Model is validated only after change"
I need to set the mask depending on a previous field.
So, I created a scope var to the mask definition, but the field is only validated after first interaction.

Here is a plunk: http://plnkr.co/edit/7Sk9N1x8LjJXakAtRLxb?p=preview

Apparently, the model value needs to be updated for the validation works.
I did a little trick for that on my client code:

* change model value
* trigger `$scope.$appl

[2015-07-01 14:42] PowerKiKi commented on #1
Thanks for taking the time to test and re-submit your issue. Since we don't have much resources, and I am not familiar with this particular code base, it would be much faster if you were able to submit a Pull Request. Otherwise you may have to wait a bit longer ...

[2015-07-01 16:07] dimrsilva commented on #1
Ok, I'll try to work on it.

[2015-07-01 22:51] MalloryEaton opened #2 "Backspacing"
My mask is "0.99". When there is no input, if I press backspace, it seems to append zeros.
Basically, I have a similar problem to this: https://github.com/angular-ui/ui-utils/issues/271

[2015-07-01 22:54] #2 closed

[2015-07-02 01:41] PowerKiKi commented on #1
Closed via #3

[2015-07-02 01:41] #1 closed

[2015-07-02 13:25] dshep4 opened #4 "Mask with placeholder"
Using a mask with a placeholder doesn't seem to work properly. For example if I have a phone number mask ``(999) 999-9999`` and a placeholder ``Phone Number`` I get the following result when trying to enter phone number ``123 456 7891``:

``P123e 456b78.``

[2015-07-02 20:18] ovargas commented on #4
I have the same issue

[2015-07-02 22:32] NickTomlin opened #5 "Tests fail in IE 9-11"
Running the tests with sauce (or against local VMs) results in the following failing specs:

![screen shot 2015-07-02 at 5 24 33 pm](https://cloud.githubusercontent.com/assets/1290336/8489284/880a34d4-20df-11e5-8acf-56dd6524149f.png)

I'd be happy to help troubleshoot this if you have any ideas on where to start with the mask code. Also, getting these tests running on CI would be great (happy to h

[2015-07-02 23:14] colingreene28 commented on #4
+1

This issue was present in the old angular-ui/ui-utils mask module. This is a fairly big bug that has slipped through the net IMHO.

Which is more likely: a fix by an admin or a concerned citizen? If it's the latter, it's something I might be able to look at over the weekend.

[2015-07-03 04:01] PowerKiKi commented on #5
Thanks for reporting. I am unfortunately not familiar with ``ui-mask`` codebase, nor sauce. But ``ui-mask`` quality and reliability could clearly be improved. There were a lots of reported bugs in previous repository for ``ui-mask``.

So if someone would step up and take a few initiative on that project, that would probably be very welcome by its users. But I'm afraid this won't be me. I will merg

[2015-07-03 04:05] PowerKiKi commented on #4
Indeed, it should have been solved for a long time now. However I am not familiar enough with the codebase to do it myself. So it will most likely require a PR from someone else.

We used to have a PR that seemed to be working, according to user reports, but lack tests and demo: https://github.com/angular-ui/ui-utils/pull/353

I didn't try it out myself, but this might be an interesting starting p

[2015-07-03 05:55] colingreene28 commented on #4
I actually pulled this down locally but it didn't seem to work for me. However as you said it lacked tests/demo so I could have assumed some details and got mixed up. It seemed to work for other people based on the comments at least so yeah could be a good place to start.

Will check back in if I get anywhere

[2015-07-03 07:43] PowerKiKi commented on #4
If necessary, a complete rewrite of ``ui-mask`` would be acceptable IMHO, especially if it also tackles what seems to be severe compatibility issues (see #5). It seems the codebase is quite brittle unfortunately.

Also, just to clarify, I am not the author, nor the maintainer, not even a user, of this lib. I merely triage bug and merge well-written/tested PR.

[2015-07-04 15:14] NickTomlin commented on #5
Thanks for the response! I am using an older version of ui-mask and would love to see it more actively maintained. I'll see if I can find some time to help make improvements. Is there an IRC channel/community for the `ui-*` components? Thanks again for you willingness to review and respond to issues/prs.

[2015-07-05 04:58] PowerKiKi commented on #5
Not sure about IRC, but we could try to actually use https://gitter.im/angular-ui. I know ui-grid is quite active on Gitter. I guess that would be nice if the organisation itself got some activity too...

[2015-07-05 05:09] PowerKiKi commented on #5
Mhh... I just noticed that organisation rooms are private only on Gitter. So maybe we could create a room only for ui-mask ? I'll check with others what they think of that ...

[2015-07-05 22:12] colingreene28 commented on #4
Quick update.

One of the big things that doesn't work me and my usage of ui-mask is the fact that there is a default placeholder applied when you define a mask. So for example, if you have the following mask:

[code]

you will automagically get this placeholder on your input:

[code]

This is NOT how I would expect this to work. Why would it assume you want a default placeholder? Also, when you a

[2015-07-06 02:55] PowerKiKi commented on #4
I assumed it would not be that simple, and that this project grew organically.

My idea (without looking at the code), was that we could save the original value of placeholder (if any), and reassign that original value, if/when the user did not input anything (or deleted it). That would mostly keep the same behavior as now, but still allowing to specify a placeholder.

However after a very quick g

[2015-07-08 01:20] lookfirst opened #10 "viewValue gets set with extra input"
http://take.ms/zWzr3

If i keep hitting numbers with the cursor at the end of the input, then $viewValue gets set to that value.

[2015-07-08 19:46] chadwhitaker commented on #4
+1

[2015-07-08 19:47] artlogic commented on #4
:+1:

[2015-07-09 01:22] PowerKiKi commented on #10
I can confirm it, but don't have time to fix it. Please consider submitting a PR.

[2015-07-09 16:54] fabiowitt commented on #4
+1

[2015-07-10 02:30] #10 closed

[2015-07-10 05:03] LuanNg opened #14 "keep value after lost focus."
I make ui-mask for phone number, i want to keep value to validate when user click to next item while value still show for user. how  ui-mask support this?

thanks,
Luan

[2015-07-10 05:32] PowerKiKi commented on #14
I don't understand what you mean. Maybe step-by-steps and/or screenshot would help

[2015-07-10 05:32] #14 closed

[2015-07-10 06:17] LuanNg commented on #14
you are inputting a value in MAC address 1.

![2015-07-10_131203](https://cloud.githubusercontent.com/assets/12404031/8613125/7167de30-2705-11e5-8e5b-ff423eec5016.jpg)

then you click to other inputbox, the value is disappear, i want to keep the value of MAC Address 1, please advice

![2015-07-10_131249](https://cloud.githubusercontent.com/assets/12404031/8613124/7165da18-2705-11e5-823b-6a77e73ee4

[2015-07-10 12:39] NickTomlin commented on #14
@LuanNg This is configurable via the `clearOnBlur`setting in the [`uiMaskConfig`](https://github.com/angular-ui/ui-mask/blob/master/src/mask.js#L11). You can set it in the `config` block of your module like so:
[code]

[2015-07-10 18:47] LuanNg commented on #14
it works, thanks!

[2015-07-15 20:50] pmowrer opened #15 "Support module systems (UMD, or at least CommonJS)"
Perhaps via https://github.com/bebraw/grunt-umd

[2015-07-16 01:00] PowerKiKi commented on #15
We don't use grunt, but gulp. If you submit a PR, I would merge it, but I don't know enough about UMD to do that by myself

[2015-07-17 16:34] ccortezia opened #16 "Pasting content on masked input does not remove ng-invalid-mask"
Suppose I have a masked text input, and I start filling it out but don't finish. The input gains the expected ng-invalid-mask attribute. Now suppose I paste some content in the field, with enough characters to fulfill it. The input should be considered totally ng-valid, but it is not. It is keeping the ng-invalid-mask until I backspace and type in something.

[2015-07-17 16:37] ccortezia opened #17 "Backspacing on a masked field does not make it ng-invalid-mask"
After fulfilling a masked input field, if you backspace and make the mask unfulfilled the ng-invalid-mask attribute is not being added to the input.

[2015-07-17 16:39] ccortezia commented on #16
I detected it on both v0.2.3 (previously on ui-utils) and 1.2.0

[2015-07-17 16:39] ccortezia commented on #17
I detected it on both v0.2.3 (previously on ui-utils) and 1.2.0

[2015-07-17 16:52] ccortezia commented on #17
False positive. Sorry. May open again in the future in case it is not.

[2015-07-17 16:52] #17 closed

[2015-07-17 16:52] ccortezia commented on #16
False positive. Sorry. May open again in the future in case it is not.

[2015-07-17 16:52] #16 closed

[2015-07-22 10:48] c19 opened #18 "An easier way to get masked.$viewValue?"
Or at least document how masked.$viewValue is attach to [and to which] controller.
I do some testing and figured out that it would attach to the outer <form> tag.
but it seems it rely on other conditions. Still trying to figure out .

[2015-07-22 11:00] c19 commented on #18
oh, I see, the input should have `id="masked" name="masked" ui-mask="xxx" ng-model="yyy"` and an outer `<form name="formname">` tag. then the formname.masked.$viewValue would show up.

It's really annoying to figure these out from demo source code. especially it's full of same named things. lots of "mask" named thing.

[2015-07-22 13:01] PowerKiKi commented on #18
A PR for documentation would be very welcome. Or at worst at new page on the wiki.

[2015-07-22 13:01] #18 closed

[2015-07-23 19:00] sibeliusseraphini opened #19 "not working with ui-bootstrap datepicker"
This directive is not working when the input has a datepicker directive of ui-bootstrap

[2015-07-23 19:43] anteksiler opened #20 "TypeError: undefined is not a function (evaluating 'iElement.is(':focus')')"
I am getting this error using jQuery 2.1.4 and Angular 1.4.2

[2015-07-24 00:59] PowerKiKi commented on #19
https://angular-ui.github.io/bootstrap/#/datepicker already have some kind of mask functionality built-in. Making ui-mask no needed at all.

[2015-07-24 00:59] #19 closed

[2015-07-24 01:00] PowerKiKi commented on #20
Latest version of ui-mask [does not require jQuery](https://github.com/angular-ui/ui-mask/commit/37b645c029f5244a356e70374de46ee5130c2c0b)

[2015-07-24 01:00] #20 closed

[2015-07-25 22:24] fabioginzel opened #21 "bad cursor placement"
Error https://github.com/angular-ui/ui-utils/issues/189
keeps happening

[2015-07-28 13:13] maqeelqureshi commented on #21
facing same issue in windows phone 8.1

[2015-08-04 13:55] dimrsilva commented on #4
I think we can close this one.

[2015-08-05 01:54] PowerKiKi commented on #4
Solved via #24

[2015-08-05 01:54] #4 closed

[2015-08-05 21:39] wiltzius opened #25 "More funky placeholder behavior"
I use this directive three places in our code, and unfortunately no invocation of the placeholder / ui-mask /ui-mask-placeholder attributes seem to work for all of them.

```<input ui-mask="(999) 999-9999" ng-model="x" placeholder="(555) 555-5555" ui-mask-placeholder/>```

```<input ui-mask="99/99/9999" ng-model="y" placeholder="MM/DD/YYYY" ui-mask-placeholder/>```

```<input ui-mask="(999) 999-99

[2015-08-06 02:24] dimrsilva commented on #25
The `ui-mask-placeholder` attr can be used to maintain the original placeholder behavior.

That said, from the three examples, only on third one is used correctly.

You should use:

`<input ui-mask="(999) 999-9999" ng-model="x" placeholder="(555) 555-5555" ui-mask-placeholder/>`
`<input ui-mask="99/99/9999" ng-model="y" placeholder="MM/DD/YYYY" ui-mask-placeholder/>`
`<input ui-mask="(999) 999-999

[2015-08-06 17:54] chadwhitaker commented on #4
@dimrsilva @PowerKiKi It appears there is still an issue with `ui-placeholder-mask`.

I created this demo here: http://plnkr.co/edit/TpN0hdkHZlXR9wSr71Lu?p=preview

You can see that the top version works without a `placeholder`. But, the second version with the `placeholder` and `ui-mask-placeholder` doesn't work when the `ui-mask` is set directly.

If you pass the `ui-mask` via a scope it works f

[2015-08-06 18:00] dimrsilva commented on #4
It's related with #25. Thanks for your plunk. It'll help.

[2015-08-06 18:07] wiltzius commented on #25
Thanks for following up!

Sorry if I seem thick, but what is the difference between the version you posted and the version I posted for the first two examples? I think they are the same? I copy/pasted wrong when I first posted this issue and immediately edited to correct it, so perhaps you caught the first incorrect version -- sorry about that.

I'll look at the plunker now.

[2015-08-06 18:12] wiltzius commented on #25
Ah, I see now in the plunker that I am indeed using the directive wrong entirely.

I copied the example from demo.html, which does not specify anything for the ui-mask-placeholder attribute it just includes it empty. Is that not a valid way to use it? In which case, I would be happy to update demo.html.

Lastly, in that plunker even with the workarounds it appears that neither of the phone number

[2015-08-06 18:13] dimrsilva commented on #25
My mistake, I just copy/paste and forgot to edit:

`<input ui-mask="(999) 999-9999" ng-model="x" ui-mask-placeholder="(555) 555-5555"/>`
`<input ui-mask="99/99/9999" ng-model="y" ui-mask-placeholder="MM/DD/YYYY"/>`
`<input ui-mask="(999) 999-9999" ng-model="z" placeholder="Phone number" ui-mask-placeholder/>`

[2015-08-06 18:32] dimrsilva commented on #25
I got that too, there is a bug when you type the same key as on placeholder.

[2015-08-09 13:26] salarmehr opened #28 "masked fields are filled with empty string"
If a masked field which is initially null, get focused and leaved empty its values is set to empty string (''). I guess its value should be unchanged.

[2015-08-10 07:23] PowerKiKi commented on #21
It seems it should now be solvable via #26, see the PR for explanation

[2015-08-10 07:23] #21 closed

[2015-08-10 07:24] #25 closed

[2015-08-10 17:20] marbletravis opened #29 "When initializing the mask it is set to dirty"
When initializing the mask it is set to dirty even though technically the data hasn't changed.

In initPlaceHolder function eventHandler is called which ends up setting the field as dirty. It appears in other initialization sequences that we don't want it set to dirty.

Bug?

[2015-08-14 21:15] meyerds commented on #29
I'm also seeing this issue. It seems to happen in IE11 only. Chrome 44 and Firefox 29 do not set the $dirty flag.

The offending line of code is "controller.$setViewValue(valUnmasked)"

[2015-08-18 16:39] alexgoroshko opened #31 "ui mask filter"
It would be great to have ui-mask-like filter.
Example:

{{1234567899 | mask: '(999) 999-9999'}} // -> (123) 456-7899

[2015-08-18 16:41] chadwhitaker commented on #31
:+1:

[2015-08-18 21:24] wiltzius commented on #25
awesome, thank you for the corrections and for the fixes. It looks like now the latter two examples work, but the first one still has the issue where typing the same key as what's in the placeholder messes it up. I'll open a separate issue for that.

[2015-08-18 21:27] wiltzius opened #32 "ui-mask-placeholder (or regular placeholder) attributes get confused when typing a character in the placeholder"
Splitting from issue #25

Modified plunkr example demonstrating the remaining bug:

http://plnkr.co/edit/CDG941601WdHPMEdlEdG?p=preview

Example invocation:

`<input ui-mask="(999) 999-9999" ng-model="c" placeholder="Phone number" ui-mask-placeholder="(555) 555-5555"/>`

Try typing in the box starting with "650" and you'll see the error -- it gets messed up if you type a key that's in the placehol

[2015-08-19 04:27] PowerKiKi commented on #5
We now have https://gitter.im/angular-ui/ui-mask available if you want to chat about ui-mask...

[2015-08-19 15:57] marbletravis commented on #29
@meyerds I am not seeing the issue with v1.4.2 in IE 11 specifically version below.
![image](https://cloud.githubusercontent.com/assets/8137075/9361405/89064cbc-4658-11e5-9d57-0da7909fcb8b.png)

I wouldn't mind helping you figure this out. Can you provide more information, Just to clarify $dirty should be set when a user edits the field, but not when the field is being initialized.

[2015-08-20 01:46] fabioginzel commented on #29
+1

[2015-08-25 13:26] fallXone commented on #29
There was an issue in IE where a placeholder input would fire the 'input' event initially, dirtying the form. It makes UI-mask look like the culprit, but I believe IE is to blame. The angular team fixed this in angular 1.3.6.

[2015-08-25 13:35] #29 closed

[2015-08-26 03:54] peterox opened #33 "ui-mask does not play nicely with other directives"
If a directive has a higher priority than ui-mask and therefore modifies the model value in it's formatter before ui-mask's formatter is executed, changing the mask dynamically does not respect the other directive. Instead ui-mask 'masks' the model value directly, NOT the value returned from the other directives formatter.

[2015-08-27 00:56] peterox opened #35 "model-view-value does not respect other directives"
This is similar to #33 in that when model-view-value="true" the code is setting $modelValue directly so other directives $parsers are not being respected.

[2015-08-27 04:26] #35 closed

[2015-08-27 04:26] PowerKiKi commented on #35
closed via #36

[2015-08-27 21:27] xmlilley opened #37 "Crashes Safari if attempting to use ui-options object"
So, there's a really nice undocumented feature, which is that you can override the behavior that causes the input's `$viewValue` to clear when the input is blurred. Simply set `ui-options="{clearOnBlur: false}"` as an attribute where you invoke the directive, and _voilà!_

Except in Safari.

In Safari, it breaks everything and you get this stack-trace:

[code]

(I have to wonder if the reason this

[2015-08-27 21:29] xmlilley opened #38 "Crashes Safari if attempting to use ui-options object"
So, there's a really nice undocumented feature, which is that you can override the behavior that causes the input's `$viewValue` to clear when the input is blurred. Simply set `ui-options="{clearOnBlur: false}"` as an attribute where you invoke the directive, and _voilà!_

Except in Safari.

In Safari, it breaks everything and you get this stack-trace:

[code]

(I have to wonder if the reason this

[2015-08-27 21:34] xmlilley commented on #38
Even simpler is if we can just use angular.extend(). In my testing, it _seems_ to work as I expect, but I don't claim to have mastered the whole library. I'm replacing lines   with:

[code]

[2015-08-27 23:59] NickTomlin commented on #37
Looks like this is a duplicate of #38 ?

[2015-08-28 00:36] PowerKiKi commented on #37
Closing as duplicate of #38

[2015-08-28 00:36] #37 closed

[2015-09-02 20:35] cleever commented on #32
+1

[2015-09-04 08:50] PowerKiKi commented on #38
Closed via #39

[2015-09-04 08:50] #38 closed

[2015-09-04 15:40] msimpson opened #41 "Pristine is not preserved"
Regardless of interaction, ui-mask immediately destroys the pristine/untouched state of input elements. In contrast, default angular directives--such as ng-required--preserve the pristine/untouched state of input elements, even when focus or blur events occur, as long as the value of the input has never changed from its original state.

For example, if I were to construct the following:
[code]
The

[2015-09-09 12:16] ssougnez commented on #31
Yeah, totally true. This module sucks without it... Seems quite logical...

[2015-09-09 12:31] gustavolira commented on #32
+1

[2015-09-09 12:33] banzai-samurai commented on #31
+1

[2015-09-09 12:43] ssougnez commented on #31
Just found this: http://stackoverflow.com/questions/20999141/how-do-i-get-masked-date-in-model-from-input-in-angular-using-ui-mask

And it works, so it seems it is included... If only stuff such as notifications existed :-D

[2015-09-09 12:58] banzai-samurai commented on #31
Thanks, that helped!

[2015-09-10 01:36] PowerKiKi commented on #31
PR are welcomed, feel free to improve the demo page.

[2015-09-13 19:47] blake-nouribekian opened #42 "Mask conflicts with ng-messages when invalid/valid"
Suppose you had the following code for a phone number below where you are using ng-messages to display an error message saying that the field is required. If you type a phone number in and then delete the exact amount of numbers that you input you will see the "Required" message but if there are no numbers in the input and you hit the delete button again, the error messages will never come back ev

[2015-09-15 13:32] filipesperandio opened #43 "Binding problem with version 1.4.5"
I have this example working fine on `1.4.2`:
[code]

When upgraded to 1.4.5 it suddenly broke the binding with `query.ABC`. Even worse, it is not consistent.
I have another `input` right after binding to `query.DEF`  and that one works fine.

[2015-09-15 13:50] PowerKiKi commented on #43
Providing a plunkr with reproducible case will increase the chance of the issue to be solved.

[2015-09-16 08:16] StarpTech opened #44 "On Samsung Tablet the input is reversed"
e.g my mask is `*-******-*?*` when I enter 3 digits:
`Z-21`instead `Z-12`
Do you have any ideas? Thanks!

[2015-09-16 20:43] marbletravis commented on #41
@msimpson I had a similar issue, with a different potential solution (https://github.com/angular-ui/ui-mask/pull/30) however the issue seemed to have been resolved in version 1.4.2. What version are you working on?

[2015-09-16 21:11] lukepfeiffer10 commented on #44
If you refer to #21 and #26, those should fix your problem. In specific, if you remove the 'input' event (for only Android browsers) you should notice the problem go away.

[2015-09-16 21:12] marbletravis commented on #41
@msimpson it also may have something to do with this
https://github.com/angular-ui/ui-mask/commit/d120b8c1789381664b4b13762a825082c42d1cc6

[2015-09-17 00:48] PowerKiKi commented on #44
Closing since @lukepfeiffer10 gave a workaround

[2015-09-17 00:48] #44 closed

[2015-09-17 00:50] PowerKiKi commented on #41
Closing since @marbletravis gave solutions

[2015-09-19 22:51] mikhailmelnik opened #45 "Can't pass regular expression for maskDefinitions via ui-options"
There are two issues I met so far:

1) `scope.$eval('[' + iAttrs.uiOptions + ']');` can't parse regular expressions stated directly in HTML
2) if I use scope to define ui-options, custom `maskDefinitions` got overridden by `angular.extend(current[i], original[i]);`

Are they real issues or I'm just doing something wrong? Is there any working example how to use ui-options to override default regexe

[2015-09-21 20:36] msimpson commented on #41
I'm on version 1.4.5, have been from the start, and neither comments are solutions. I don't have the time to make a demo of this issue. But if someone does, try it out--it's there.

[2015-09-21 20:46] msimpson commented on #21
@PowerKiKi
If you're going to continually answer issues relating to the input event on various mobile environments/keyboards with PR #26, then just add it to the README as a workaround already.

[2015-09-21 22:48] marbletravis commented on #41
@msimpson I wonder, is the element gaining focus? One solution I have had to use, not sure if its something that needs to change, is to limit the events to handle to ['input', 'keyup'].

The other day I was wondering (have not had time to look into it) if we can make the mask process (handle events) from focus and click without dirtying the model. For us only handling input and keyup is sufficient

[2015-09-22 13:08] msimpson commented on #41
@marbletravis
Dropping focus does work around the issue, yes. But, again, this needs to be fixed at its core. There shouldn't be any reason to dirty the model value on focus with the mask placeholder.

[2015-09-23 03:46] marbletravis commented on #41
@msimpson Sorry, my bad for not re-reading the whole op.

I am not sure what purpose focus/click serve, for us we didn't see a change in any behavior when switching to just input/keyup. I may have some spare cycles friday to look at the core issue, but wondering if you or @PowerKiKi can offer any context as to why we handle those events anyway.

[2015-09-23 18:38] msimpson commented on #41
@marbletravis
I'm not sure why those events are watched, either. Perhaps just paranoia over the slew of events signaling modification. Also, I found that while removing click and focus does resolve the pristine/untouched issue for mouse interaction it fails when tabbing through the fields as keyup is caught instead. Therefore, I still have no solid workaround.

[2015-09-24 12:33] nastakhov opened #46 "Incorrectly positioned cursor in MS Edge browser"
Hello

Thanks for great control, guys!

Issue is that when you place cursor in input with mask in MS Edge browser it is placed in the beginning of input. In other browsers it is correctly positioned after last filled in character.

I've tried to fix this by myself but without success.

I've created [plunkr](http://plnkr.co/edit/HRZiRJkYW79ooWeyOu5g?p=preview).
Try to put cursor in first input in E

[2015-09-24 15:27] wallass opened #47 "placeholder default char"
is there a possibility of changing placeholder default char "_" ?

[2015-09-28 13:38] PowerKiKi commented on #41
@marbletravis sorry, I don't have any explanation either. Your best bet is to dig through `git blame`.

[2015-09-28 13:42] PowerKiKi commented on #47
This char is hardcoded in source in a few places. I don't think you can change it without altering source code.

[2015-09-28 13:42] #47 closed

[2015-09-28 21:34] ikr0m commented on #31
+1

[2015-09-30 16:47] glebmachine commented on #32
+1

[2015-10-02 18:39] lucasjs opened #50 "How to make ui-mask retain the invalid input when focus is lost?"
Hey my friend!
Love the ui-mask, but I have this big problem.
Can you help me?

[2015-10-02 18:44] NickTomlin commented on #50
From the [README](https://github.com/angular-ui/ui-mask#customizing):

You want to set `clearOnBlur` to false

[2015-10-02 20:51] lucasjs commented on #50
o rly? that's so easy and I spend hours seachirng on google LOL
thanks buddy.

[2015-10-02 21:21] NickTomlin commented on #50
@lucasjs not a problem :) . Could you please close this issue?

[2015-10-03 00:23] lucasjs commented on #50
@NickTomlin sure! thnks

[2015-10-03 00:23] #50 closed

[2015-10-05 21:02] petejordan commented on #41
suffering with this ui-mask issue dirtying an otherwise prisitine page when nothing happens but a collapse / expand for e.g.
still very much open issue (in Object {full: "1.4.5", major: 1, minor: 4, dot: 5, codeName: "permanent-internship"} at least.
what's the fix / work-around / hack / ???

[2015-10-07 03:41] marbletravis commented on #41
@petejordan @msimpson I haven't had much time to devote to this. But I did implement some changes on my fork, which if it works I will create a pull request into the main repo. I can test this tomorrow afternoon, (I don't have a good test setup at home) but in the meantime if either of you want to test it out you can pull from here.

https://github.com/marbletravis/ui-mask

If you are using bower,

[2015-10-07 22:54] marbletravis commented on #41
No go, it still has some $pristine issues. I will keep looking at it. Please be patient, I can't work on this at work much (not part of my main tasks right now) and have a family that occupies the rest of my time. I think I can look at this some more Friday.

[2015-10-07 22:55] marbletravis commented on #41
@PowerKiKi should we reopen this?

[2015-10-08 03:06] nikoloza commented on #32
+1

[2015-10-08 13:52] Vizer commented on #43
Same issue. I think the reason is here: [fix(ngModel): validate pattern against the viewValue](https://github.com/angular/angular.js/commit/0e001084ffff8674efad289d37cb16cc4e46b50a)
Updating validation "pattern" helped me.

[2015-10-08 16:26] kdorion commented on #32
+1

[2015-10-09 23:46] alexw23 commented on #32
+1

[2015-10-09 23:53] alexw23 commented on #42
Can you make a plunkr?

[2015-10-10 18:41] petejordan commented on #41
Yes! Yes! Please re-open.
The mask dirty seems OK but form still dirty.
Thx much,
petejordan
On Oct 7, 2015 3:54 PM, "marbletravis" <notifications@github.com> wrote:

[2015-10-12 03:41] PowerKiKi commented on #41
I reopen as requested by @marbletravis, but I won't be working on it.

Thanks @marbletravis for your past and future work on this issue.

[2015-10-13 19:32] bradrich commented on #41
I am also having this issue, but it is localized to IE only. Is this the case with everyone else's issues?

[2015-10-13 19:44] blake-nouribekian commented on #42
What is strange is that I am not able to replicate the issue I am having on my site but I included the link anyways and I will see if I can play with it some more.

http://plnkr.co/edit/Jj4MtloejRDDPQxwDIcH?p=preview

[2015-10-13 20:35] petejordan commented on #41
Chrome also has problem of false dirty.
On Oct 13, 2015 12:32 PM, "Brad Richardson" <notifications@github.com>
wrote:

[2015-10-13 21:46] marbletravis commented on #41
@bradrich I recall having some issues with IE, and I recall seeing a pull request to fix them. But can't find it anymore. Are you using latest?

[2015-10-14 17:49] bradrich commented on #41
1.4.7, yes, it is the latest version.  I am not seeing the error in Chrome at this current moment, only IE.

[2015-10-14 19:11] Eversilence commented on #32
+1

[2015-10-14 22:20] ibraimedina commented on #46
I found the same problem on Google Chrome 45.0 of an Android device (Galaxy Tab). The cursor fulfill the first character but stay at this position even when we insert new ones. The result is that the inserted word/number is inserted reversed (except for the first letter).

[2015-10-16 13:40] kmaida opened #52 "Request: option to not unmask"
I'd really like to have the masking available to aid the user, but then would also like to save/submit the value as the masked value and not unmask it.

Would it be possible to have an option for this added in the future?

[2015-10-16 18:03] adairborba commented on #32
+1

[2015-10-16 18:56] kensnyder opened #53 "DOM "change" event not fired on inputs"
**Minimal test case** [here](http://plnkr.co/edit/QuGxfrIWGCpcw33Zy0G5?p=preview)

**To reproduce** type in one digit then tab out

**Expected behavior:** events on regular input fire `keydown`, `input`, `keyup`, **`change`**, `blur`
**Actual behavior:** events on ui-mask input fire `keydown`, `input`, `keyup`, `blur`

Because `iElement.val(maskedValue)` is called in several places, the `change` e

[2015-10-16 22:14] marbletravis commented on #53
@kensnyder I had some time to look at this (needed something easy and productive to do)

Check out the plunkr demo here: http://plnkr.co/edit/ux2uj6V4vkDXnZZyQpsU?p=preview

I will create a pull request, I think I agree that it should be fixed, but I will let others chime in with their opinions as well.

[2015-10-16 22:29] blake-nouribekian commented on #41
Is anyone close to fixing this issue? All of the states are messed up. It should set them just like any other input would that is not using ui-mask on it. Right when I click or tab to the field I get my required error message even though it should only display the message when the field is dirty or has an error but since ui-mask is changing dirty right when the field is focused on it makes this im

[2015-10-16 22:35] blake-nouribekian commented on #42
We can close this now as it seems to be fixed using the newest version

[2015-10-16 22:35] #42 closed

[2015-10-16 23:04] kensnyder commented on #53
@marbletravis I don't see your patch working on the plunkr. The HTML is trying to load `ui-mask-patched.js` but there is only a file called `ui-mask-patched` with no extension. I changed the filename to have a `js` extension and ui-mask directive loaded but still no onchange fired. Is that what you're seeing?

My coworker suggested creating a second `ui.mask` directive that runs alongside the firs

[2015-10-16 23:22] marbletravis commented on #53
@kensnyder can you try the plunkr again, I forgot to freeze it.

Travis

[2015-10-16 23:23] marbletravis commented on #41
@blake-nouribekian There is a pull request in with a fix. Just waiting for approval. You can switch to my fork temporarily if you need  it faster.

https://github.com/angular-ui/ui-mask/pull/51

[2015-10-16 23:39] kensnyder commented on #53
@marbletravis Does the frozen one have a new URL? I'm still seeing the same thing.

Here is my gist for a [second directive](https://gist.github.com/kensnyder/c145b25e9147b57feec8) I will add to a new plunkr demo when I have a chance.

[2015-10-17 13:32] marbletravis commented on #53
Try the plunkr again, sorry about that. I would think it would be best if your changes were in the main repo (assuming others felt change should be called).

http://plnkr.co/edit/ux2uj6V4vkDXnZZyQpsU?p=preview

I borrowed your trigger event logic for the plunkr, which better handles the case where you are not using jquery to listen for the events.

[2015-10-17 17:03] blake-nouribekian commented on #41
Great... Thanks so much! I'm launching a business/website very soon so the less issues the better

[2015-10-19 15:33] settysreekanth commented on #19
@sibeliusseraphini  did you find any solution for this? i don't want to use type='date' as it is not supported by all the browsers?

[2015-10-19 15:50] sibeliusseraphini commented on #19
@settysreekanth

@settysreekanth: We've created a directive to handle this problem: https://gist.github.com/sibeliusseraphini/4d1275ea1f8c980dd645

I'll create a bower package when I have time

Let me know if you need any help

[2015-10-19 16:14] settysreekanth commented on #19
@sibeliusseraphini thanks for the reply. I believe, your solution doesn't apply masking till user completes the field input or till model gets assigned.. please correct me if I am wrong?

I am actually looking at the same behavior as it works with angular-ui-mask

[2015-10-19 16:27] sibeliusseraphini commented on #19
@settysreekanth the changeInput() and changeDP() will apply the mask, however it only support one type of mask yet, you can improve it if you want
![screenshot 2015-10-19 14 25 02](https://cloud.githubusercontent.com/assets/2005841/10583705/3b7781c4-766d-11e5-8a48-209860a1fc4d.png)

[2015-10-19 19:12] settysreekanth commented on #19
Thanks @sibeliusseraphini .. I will try customize and use it for my requirement.

[2015-10-21 13:49] callmeaponte commented on #46
Changing the type attribute on the input element from "text" to "tel" seems to fix the issue.

<input type="tel">

I've tested this out in MS Edge, and in Google Chrome v45.0 on both Galaxy S6 and Galaxy Note 3.

[2015-10-21 14:22] lukepfeiffer10 commented on #46
Instead of changing the attribute have you tried removing the `input` event using the `eventsToHandle` property in the options?

From the readme:

[2015-10-22 21:15] nshahpazov commented on #52
+1

[2015-10-23 02:30] PowerKiKi commented on #53
Closed via #54

[2015-10-23 02:30] #53 closed

[2015-10-26 15:26] Tim91084 commented on #52
Have you tried model-view-value="true"?

[2015-10-26 17:04] derekmt12 opened #58 "masked input inside ng-if uses incorrect placeholder"
When a masked input is inside of ng-if, ng-switch, or any directive that creates a copy of the current scope, it initially shows the ui-mask-placeholder instead of the placeholder value. After the input gains focus and then loses focus, the placeholders perform correctly.

Here is a plunk demonstrating the issue:
http://plnkr.co/edit/mMRgmfQRJjWBeA1YmOYg?p=preview

[2015-10-27 00:12] Tim91084 commented on #41
I've got another pull request in for this issue, #57

[2015-10-27 00:15] Tim91084 commented on #43
I started a plunkr here, but I'm not quite sure what your issue is... Is it that the input is now invalid.  I don't see any binding issues..

http://plnkr.co/edit/ZuPxsGLlR3x84yZYJiPQ?p=preview

[2015-10-27 00:26] Tim91084 commented on #28
I think this and #41 are likely the same issue

[2015-10-27 00:31] Tim91084 commented on #33
You mean changing the mask via a dynamic binding like in the example below?

```ui-mask="{{maskBinding}}"  ```

[2015-10-27 00:57] Tim91084 commented on #45
Looks like a legitimate issue.  Started a plunkr to demonstrate.  Check out the console output.

http://plnkr.co/edit/zbFZp2FO3HPibkzwPspP?p=preview

[2015-10-27 01:11] peterox commented on #33
That's right. Checkout the test in 9c59df9904edff2b1de0de2ea7a17315b991a3bb

[2015-10-27 01:32] Tim91084 commented on #58
well, I can see why it's happening.  When the mask is within the ng-if, `initPlaceholder` runs after the formatter.  The formatter seems to be what is allowing the placeholder attribute to take precedence.  Anyhow, here's a potential fix - not sure of the implications of this one though....  Add this within `initPlaceholder` : `&& !(iAttrs.placeholder && !controller.$modelValue)`

    function ini

[2015-10-27 02:00] filipesperandio commented on #43
Sorry I didn't payed enough attention to the issue.

I am trying to reproduce the problem in isolation and it is not happening,
which makes me believe it was a problem with the combination of plugins I
was using or maybe something related to my templates.
So being a bit more accurate, I have 2 input fields with different masks.
(on my app I have each one in a different tab and I only use one of th

[2015-10-27 03:11] PowerKiKi commented on #28
Closing as duplicate of #41

[2015-10-27 03:11] #28 closed

[2015-10-27 03:46] Tim91084 commented on #46
looks like at the time the IE edge focus event is fired the browser hasn't set the cursor yet (we get a cursor position of 0).  One possible solution to this is to timeout all the events in the eventsToHandle array.  For example:

                          function bindEventListeners() {
                                if (eventsBound) {
                                    return;

[2015-10-28 01:07] Tim91084 commented on #15
Submitted a pull request for this #59.

[2015-10-28 03:59] Tim91084 commented on #31
This is interesting.  The use case is slightly different when you're using it as a filter, right?  We wouldn't need to validate, for instance.. And, if we don't need to validate, do we need to define the mask explicitly as containing numbers or letters?  For example, what would be the difference in functionality for the following two filters?

AAA-999-***
***-***-***

For a value of 12A-AB2-A2B...

[2015-10-28 12:54] JohnyNogueira commented on #32
+1

[2015-10-29 06:28] suman-mits commented on #45
+1 Is this issue resolved? I am stuck at this now

[2015-11-01 06:00] hebbian opened #61 "Mask date format"
How to mask a date format? If I set the mask to 99/99/9999, you can input number with max 9, and I found that ui-mask execute on each character, what about if I want to limit max value from 1-31, or month to 1-12 as a date format should be?

[2015-11-02 01:03] PowerKiKi commented on #61
This is not possible with ui-mask, instead use `<input type="date">`, or another custom component, such as https://github.com/angular-ui/bootstrap or https://github.com/angular-ui/ui-date

[2015-11-02 01:03] #61 closed

[2015-11-02 01:17] PowerKiKi commented on #45
@suman-mits the PR #60 is waiting for tests to be merged

[2015-11-03 10:10] #45 closed

[2015-11-03 20:37] simoncowie commented on #52
Yeah, ~model-view-value="true"~ works for this. Documentation needs a bit of work to show this I think.

[2015-11-04 03:45] PowerKiKi commented on #45
Fix released in 1.5.1, thanks @Tim91084 !

[2015-11-04 05:36] PowerKiKi commented on #52
@simoncowie PR are more than welcome to improve docs or anything else.

[2015-11-04 05:36] #52 closed

[2015-11-04 12:35] deividfortuna opened #64 "Only valid and parse on focus out"
When i start filling the input, none error are showing. But if I fulfill then with a valid string and focus out, the input is valid, it´s ok. But if I focus in again, clear the input and start filling another value, the input always shows ng-invalid-mask and ng-invalid-parse errors. I don't want this right now, because I have not finished typing the value yet. I want on **focus out** again.

Sorry

[2015-11-04 17:34] cjfringe opened #67 "Format of ui-options"
Can we please see an example of ui-options? Specifically, maskDefinitions? When I try to add ui-options to a form field I am getting an error.
```Uncaught TypeError: n[0].test is not a function```

The form field I have looks like this.
[code]

Any help would be appreciated.

[2015-11-05 14:12] nastakhov commented on #46
None of suggested fixes resolved issue for me.

[2015-11-06 09:07] jarbitlira commented on #43
I have a similar Issue. I think that this can be some with the events, because when the input is leave, the from.$error for my input pattern is true and when I click again the form is valid.

I wait that this information can be util for solve.

http://plnkr.co/edit/hksgLpr22WIBhhlJxUPt

Regards

[2015-11-10 03:19] #41 closed

[2015-11-12 13:50] leitasat commented on #14
@NickTomlin could you please write it somewhere at homepage or at repo's Readme?

[2015-11-13 05:21] savokiss commented on #67
You'd better remove the `'` from the regular expression and defined the options in the scope.
like this:
controller
[code]
HTML:
[code]

[2015-11-13 09:10] zorzysty opened #71 "Problems with pasting in values"
UI-Mask does not behave as expected when pasting values into input.
This is how to recreate the issue:

**Scenario 1**
1. Enter value "by hand"
2. Select whole value
3. Paste different value to the input field

Expected behaviour:
Previous value is replaced.

Current behaviour:
Previous value is not replaced.

**Scenario 2**
1. Enter part of the value
2. Set cursor at the beggining
3. Paste some v

[2015-11-13 13:29] vizart87 opened #72 "I am using ui-mask and the value for 9 gets replaces for all number 1-9(digits). how can i just restrict mask to have only 9 as a value"

[2015-11-13 16:36] PowerKiKi commented on #72
See 'maskDefinitions' in Readme

[2015-11-13 16:36] #72 closed

[2015-11-13 16:37] #67 closed

[2015-11-15 23:30] vizart87 commented on #72
maskDefinitions are not getting overridden i want to override 9 for numerical digit [9]. CAn you provide with example.

[2015-11-17 02:59] PowerKiKi commented on #72
Did you try `{ '9': /9/}` ?

[2015-11-19 16:49] julianomqs opened #74 "Global Configuration"
It will be nice if ui-mask have global configuration, e.g

[code]

Then every input with `ui-mask` will use space as char.

Thanks.

[2015-11-19 18:48] sean-hill opened #75 "Weird value when using placeholder"
Here's my HTML:

	<input type="text" ng-model="form.phoneNumber" placeholder="Phone Number" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char class="form-control">

Here's before focus:

![screen shot 2015-11-19 at 11 45 42 am](https://cloud.githubusercontent.com/assets/1205866/11280448/5377d112-8eb3-11e5-870f-795c123b7678.png)

Here's when focused:

![screen shot 2015-11-19 at

[2015-11-19 21:36] flyer1 commented on #74
I updated global ui mask config like this. Does this work?

    function config(uiMaskConfigProvider) {
        var maskDefinitions = uiMaskConfigProvider.$get().maskDefinitions;
        // Update the mask definitions to support uppercase/lowercase masks
        angular.extend(maskDefinitions, {
            'a': /[a-z]/,
            'A': /[A-Z]/
    });

[2015-11-20 07:51] ProgressoRU commented on #72
I have same issue.
This is my view:
[code]
This is phone format:
[code]
And mask definition:
[code]
In result input looks like this: ![Input](http://i.imgur.com/o8KuWg0.png)

With ``{ '9': /9/}`` added to maskDefinitions, as proposed above, is still the same, but only `9` will be available to enter in the place of first 2 characters.

Sorry for my poor English, I hope my explanation is understanda

[2015-11-23 14:32] vizart87 commented on #72
I did work around for the problem i over write the uiMaskConfig in app.js
.value('uiMaskConfig', {
        maskDefinitions: {
            'N': /\d/,
            'A': /[a-zA-Z]/,
            '*': /[a-zA-Z0-9]/
        },
        clearOnBlur: false,
        eventsToHandle:  ['input', 'keyup', 'click', 'focus']
    });

[2015-11-24 22:36] lukepfeiffer10 commented on #71
After looking at the code and doing a couple of tests, it seems like this issue can easily be resolved by removing the `onPasteHandler`.

However, maybe someone else is aware of the reason that handler is there in the first place. It doesn't seem to be doing much; except of course causing this issue as the code explicitly sets the cursor position at the end of the value. Interested in hearing some

[2015-11-25 16:05] lukepfeiffer10 commented on #32
This is what I've found so far.

I'll be using the placeholder `(555) 555-5555` for this below discussion and the value I'll be trying to input is `650`.

When the value is being unmasked in the `unmaskValue` function, there is a `replace` call on the current string value. This is because when you originally input a value it is simply added to the string meaning a placeholder of `(555) 555-5555` t

[2015-11-25 16:47] ZeRego commented on #75
+1 same problem here

[2015-11-25 17:18] lukepfeiffer10 commented on #75
Have you tried updating your version of ui-mask?

This might have been an issue related to #25 that was fixed partially by #27. At least the issues with having empty `ui-mask-placeholder`.

[2015-11-25 18:22] vinyoliver commented on #31
+!

[2015-11-25 18:22] vinyoliver commented on #31
+1

[2015-11-25 18:42] sean-hill commented on #75
@lukepfeiffer10 I have the latest version as of 6 days ago. The latest release was 11 days ago.

[2015-11-25 19:38] hugobast opened #77 "Stops working after a $compile"
All the details here in this issue: https://github.com/angular-ui/ui-utils/issues/192

[2015-11-28 04:08] #71 closed

[2015-11-28 04:20] PowerKiKi commented on #77
Closing, because it doesn't bring anything to the discussion. Consider re-opening with a PR or a beginning of a solution, or at the very least a more complete diagnosis (including the versions used).

[2015-11-28 04:20] #77 closed

[2015-11-28 22:23] DaAwesomeP commented on #14
@NickTomlin this doesn't work for me. I get an error `Unknown provider: uiMaskConfig`.

[2015-11-29 02:28] NickTomlin commented on #14
@DaAwesomeP it sounds like UI Mask is not being included as a dependency of your module. My snippet above did not include ui mask as a dependency of the example application; i've updated it to correct this.

[2015-11-29 04:48] DaAwesomeP commented on #14
@NickTomlin I'm doing that in my app. If I wasn't, then the mask wouldn't work at all. I'm using Angular v1.4.8 by the way.

[2015-11-29 19:14] NickTomlin commented on #14
@DaAwesomeP hmm, i'm not sure what is going :\. Can you recreate this issue in a fiddle?

[2015-11-29 20:39] DaAwesomeP commented on #14
Here you go: http://plnkr.co/edit/jgD71cHdz9ydSjHQjsGy?p=preview
If you comment out the config block in `app.js`, then the mask works fine.

[2015-11-29 22:16] NickTomlin commented on #14
@DaAwesomeP ack, it is definitely my fault. `uiMaskConfig` is a `value` which is not accessible in a `config` block. Change `.config` to `.run` and you should be good to go. I've updated my example as well.

[2015-11-29 22:50] DaAwesomeP commented on #14
Great, It works!

[2015-11-30 14:33] lukepfeiffer10 commented on #75
@sean-hill Can you provide a plunkr that recreates and shows the issue?

[2015-11-30 18:47] pheintzelman opened #78 "Need masking without the validation"
We want to use this library but have our own validation. It would be awesome if there was an option to not set validity. Also in our case we want the model to be updated with the partially complete value this would also be a great setting.

[2015-12-01 01:03] PowerKiKi commented on #78
You're gonna have to submit a patch if you want any kind of improvement for this project.

[2015-12-01 14:17] lukepfeiffer10 commented on #5
It appears that the `input.triggerHandler("input")` in some if not all of the tests on IE does not actually trigger the `eventHandler` function. I haven't been able to find anything conclusive about why this might be happening from a Google search.

I believe changing `input.triggerHandler("input")` to `input.triggerHandler("change")` will make the tests pass on IE but I'm not sure if that is nece

[2015-12-01 18:58] pheintzelman commented on #78
(?9?9?9) ?9?9?9-?9?9?9?9 will work for me for now thanks. Unfortunately contributing to this library is not clear cut given policies at my workplace.

[2015-12-06 14:23] tgiacchi commented on #75
Same problem.  Specifically, see code below.  When typing in a number into the phone number mask, if you type numbers 0-8 everything is okay.  It messes up when you type a '9'.  It seems to almost be treating it like an incorrect character and it loses it's place in the mask.

<input class="form-control" ng-model="number" ui-mask='999  ui-mask-placeholder=' 999' type="text">

This is the simplest

[2015-12-06 15:45] #74 closed

[2015-12-06 23:35] sean-hill commented on #75
Hey @lukepfeiffer10 I just made a plunkr with only angular and the mask libraries included [here](http://plnkr.co/edit/aAe5SHxgBjEuapA0mxNZ?p=preview). It appears that the bug is fixed is this situation. I wonder if it's another library that may be conflicting. I also have `ui.bootstrap` included in my project. Maybe that might be an issue?

[2015-12-07 00:58] tgiacchi commented on #75
If the placeholder character is a ‘9’ (even in the demo on github) the problem shows up.

From: Sean Hill [mailto:notifications@github.com]
Sent: Sunday, December 06, 2015 6:36 PM
To: angular-ui/ui-mask <ui-mask@noreply.github.com>
Cc: tgiacchi <aocontracting@hotmail.com>
Subject: Re: [ui-mask] Weird value when using placeholder (#75)

Hey @lukepfeiffer10<https://github.com/lukepfeiffer10> I just

[2015-12-07 08:48] corehook opened #80 "Save invalid data in model"
Hi dudes! I want to save invalid data in model ( for notification user that he input invalid phone number for example ), but i cant because user.phone_number empty and i cant check that field filled by user  or keep it empty ( not entered anything ).

[code]

clearOnBlur store entered data in input but in user model i didnt see phone_number field.

[2015-12-07 13:45] lukepfeiffer10 commented on #75
@tgiacchi you are experiencing the same issue as #32. Here is the plunkr from that issue that should solve your problem, [link](http://plnkr.co/edit/HPIGBouGjO7goSTGI7A0?p=preview). However, that solution hasn't been incorporated into a release at the moment.

@sean-hill I can't be 100% certain that including `ui.bootstrap` is causing your problem although I can say that I am successfully using bo

[2015-12-07 13:57] lukepfeiffer10 commented on #80
Not entirely certain what kind of user notification you are looking for when entering invalid data, but the input should have the class `ng-invalid` when the input is invalid. Using that you should be able to create some sort of css style to notify the user of invalid input.

[2015-12-07 22:40] Mokto commented on #46
Hi guys,

Any update on this ?

[2015-12-08 01:14] Tim91084 commented on #46
I'm pretty sure the code snippet above fixes it, I'll have to test again and after that I'll submit a PR.  If you get a chance, you want to test out the fix also?

[2015-12-08 13:48] lukepfeiffer10 commented on #58
@Tim91084 Have you tried implementing this fix and running the tests? Not saying that would give 100% certainty there aren't side effects with the code but it would be somewhere to start.

[2015-12-08 13:49] lukepfeiffer10 commented on #33
@peterox Should this be closed? It appears to be working properly as the test you added is passing.

[2015-12-08 15:09] corehook commented on #80
@lukepfeiffer10 thanks!

[2015-12-08 15:09] #80 closed

[2015-12-08 18:00] kcaron-cst opened #81 "CHANGELOG.md"
Wondering if there is a changelog for tagged releases. Much easier to maintain packages in larger projects if potential breaking changes can be quickly identified. Haven't updated since 1.4.6

Comparing the [readme file](https://github.com/angular-ui/ui-mask/compare/1.4.6...1.6.2), looks like there are several breaking changes, is this correct?

[2015-12-08 19:04] lukepfeiffer10 commented on #81
Honestly I don't think there were any breaking changes. Only new functionality and bug fixes.

Not that a changelog is a bad idea I just don't think you should have any issues getting the latest version.

[2015-12-08 19:06] #33 closed

[2015-12-08 19:12] kcaron-cst commented on #81
Thanks @lukepfeiffer10

[2015-12-08 19:12] #81 closed

[2015-12-08 21:09] kmccullough opened #82 "Parser should be unshifted rather than pushed"
Parsers should always be unshifted onto the modelCtrl.$parsers array, rather than pushed (formatters should be pushed). Your directive relies on the actual $viewValue, but because the $parsers are run in array order (0, 1, 2, etc.) and your parser is pushed, it will always be the farthest parser from the viewValue and closest to the modelValue, which is obviously wrong. For example, I want to unsh

[2015-12-09 01:29] PowerKiKi commented on #81
@lukepfeiffer10 is right here. No intentional BC and no changelog available except the commit messages. The reason beeing a serious lack of manpower to manage that.

[2015-12-09 01:32] #82 closed

[2015-12-09 02:47] #32 closed

[2015-12-09 02:47] #75 closed

[2015-12-09 12:22] RenatoRC opened #84 "ng-required - Model does not binding on its value"
When I set an input text with ng-required and I don't specific a mask, the model does not binding on its value.

I've created a plunker.
http://plnkr.co/edit/kq2baWdgemcuYp0dxSu4?p=preview

[2015-12-09 12:23] cleever commented on #84
+1

[2015-12-09 12:48] okhomenko opened #85 "main: dist/index.js is lacking"
Looks like gulp remove dist/index.js file which is required in package.json as main.

Now it is broken as CommonJS dependency

[2015-12-09 12:51] okhomenko commented on #85
I guess you published to npm something other than checked in as 1.6.4

[2015-12-09 14:04] lukepfeiffer10 commented on #84
@RenatoRC I guess I just don't see the use case here. Why are you using ui-mask if you aren't specifying a mask for it to use?

[2015-12-09 14:58] cleever commented on #84
@lukepfeiffer10 The primary use case for this scenario is when you need to set mask dynamically.

[2015-12-09 16:25] fcaballero commented on #85
+1

[2015-12-09 16:27] RenatoRC commented on #84
Exactly. I need to set mask dynamically.

[2015-12-09 17:37] dhaspden commented on #85
Same problem

[2015-12-09 20:30] keithbranton commented on #85
Looks like the index.js file added in https://github.com/angular-ui/ui-mask/commit/f395088b353a725f06746516cba65236bad2d1e4 should probaly have been added to the src folder, not the dist folder?

[2015-12-10 01:03] PowerKiKi commented on #85
Fixed in #88

[2015-12-10 01:03] #85 closed

[2015-12-10 16:32] boroth opened #89 "ui-mask stops working after running through $compile"
I have a directive that's adding a name attribute to input elements that don't have a name attribute. In order for these new names to be caught by the FormController, I have to recompile the element after adding the name.  However, after it's compiled you can no longer enter text into the input field.

Plunker [here](http://plnkr.co/edit/BLEmSad6FCA9tC8JJz2k?p=preview).

The plunk shows two direct

[2015-12-10 17:03] lukepfeiffer10 commented on #89
@boroth Have you tried to make sure your directive that recompiles the element runs first?

[2015-12-10 17:10] boroth commented on #89
It probably has something to do with the directive being applied twice (because of the double compile?).

My directive definitely runs first, but then it gets run again (each directive runs twice).

[2015-12-10 17:42] kmccullough opened #90 "Formatter should be unshifted"
The formatter should be unshifted onto the modelCtrl.$formatters array, rather than pushed. The formatter expects to be the last run (closest to $viewValue), but since it is pushed it is the first run.

[2015-12-10 19:57] boroth commented on #89
I think I figured it out! I got around calling $compile() by updating the formController and ngModelController manually (see below).

[code]

I'll close this out as the issue isn't with ui-mask per-se; however, is it normally frowned upon to recompile an element that has additional directives? Just asking for future reference.

[2015-12-10 19:57] #89 closed

[2015-12-10 22:34] lukepfeiffer10 commented on #89
Glad you found a solution to your problem.

Also, I have no idea about the multiple compilation. I assume it's not a best practice though as the compile and link steps are just single passes.

Just a thought but doesn't the pre-compile function have access to the original element (sometimes referred to as the template element)? If it does shouldn't you just be able to add the name element to the t

[2015-12-10 22:43] boroth commented on #89
Hmmm, I tried replacing the `element` with a cloned element with the added name, but when I re-added it I assumed that I had to still re-compile, so it was still broken. I didn't try replacing without re-compiling.

[2015-12-10 22:59] lukepfeiffer10 commented on #89
Have you tried `element.prop('name', 'blah')` on the template element? Might not even need to clone and replace.

[2015-12-11 16:40] davidwillianx opened #92 "how can i set mask for money"
I would like to do something like this >>
9,90
90,90
9.900,99
etc>>

does ui-mask able to do?

[2015-12-11 17:19] lukepfeiffer10 commented on #92
I don't think ui-mask has the functionality you are looking for as there isn't a way to specify one or more of some value like you need to for currency. My best guess would be to create a directive with a custom `$formatter` that runs the angular currency filter on the value input by the user.

[2015-12-11 17:38] davidwillianx commented on #92
pretty cool! thx dude it helps a lot :+1:

[2015-12-11 17:38] #92 closed

[2015-12-11 23:38] hahn-kev commented on #31
I agree, unfortunately it looks like it would require a huge refactor.

[2015-12-14 16:23] hahn-kev commented on #31
Well it's not perfect but it should get you by https://gist.github.com/hahn-kev/b3e74a07b53c26ddee1b

[2015-12-17 18:24] johnmanko opened #94 "Defining a mask for SSN"
I'm trying to define a mask that will work to display the mask but allow entry of just numbers.

// I only have the last four of the ssn
`ssn = "6789"`
or
`ssn = "*****6789"`

`                        <input type="text"
                               ng-model="ssn"
                               ui-mask="*****9999"
                               ui-mask-definitions="{ '9': /\d/, '*': /[\*0-9]/ }"

[2015-12-17 20:10] lukepfeiffer10 commented on #94
I am pretty sure the functionality you are looking for is not included in this library. The library doesn't "hide" characters it just displays to the user how the input should look and assists in entering that input properly.

If you need to hide characters you are best off using a custom `$formatter`. Something that takes your model value and then replaces the first five characters with a special

[2015-12-21 03:45] johnmanko commented on #94
ah, ok. Thanks.

[2015-12-21 06:40] #94 closed

[2015-12-24 23:21] RezaRahmati opened #95 ""Module 'ui.mask' is not available" error on adding ui.mask to Onsen Mobile App"
Hi

When I try adding ui.mask to my mobile project I get this error
rror: [$injector:modulerr] Failed to instantiate module ui.mask due to:
Error: [$injector:nomod] Module 'ui.mask' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.

I use angular 1.4.7, and I don't use jquery. So I

[2015-12-26 00:35] radams0x opened #96 "how to allow optionally negative number?"
Need to allow either 99.99 or -99.99 - couldn't figure out how to do that. Thanks!

[2015-12-28 03:33] PowerKiKi commented on #96
Don't think it's doable, you might be better off using `<input type="number">` instead.

[2015-12-28 03:33] #96 closed

[2015-12-29 14:27] lukepfeiffer10 commented on #95
Are you sure that the `ui-mask` module is being correctly added to your application module or the Onsen module?

[2015-12-30 03:32] #58 closed

[2015-12-30 17:54] #64 closed

[2016-01-05 11:18] z0rbas commented on #72
This still seems to be a problem. vizart87's workaround works. I needed a hardcoded 'A' in the mask and was unable to add it.

[2016-01-05 11:37] z0rbas commented on #2
The original Issue: https://github.com/angular-ui/ui-utils/issues/271
Don't know why this was closed right after opening, but the problem persists.

With ui-mask="QT**********" you can enter any characters and it will work fine. After erasing all the characters with backspace and then continuing  to press backspace the value will start filling up with the first static character of the mask, i.e. "

[2016-01-05 14:31] lukepfeiffer10 commented on #72
It's not really a workaround, more like intended functionality. The `maskDefinitions` object specifies how you can define the mask. Each key maps to a regex that specifies the requirements for the character at each position. So, having `A` in a mask says any alphabetic character (upper or lower case) is permitted. If you need to have `A` as a static value in the mask, then you need to override the

[2016-01-05 15:42] z0rbas commented on #72
I did RTFM, but I wasn't able to use ui-options to enable using 'A' as a static character. It seems easy enough but it didn't work ...
Are you able to pull this off?

Thanks!

[2016-01-05 16:06] z0rbas commented on #72
I looked at the issue again and voila. If a character has already been defined, one needs to disable it with: ui-options="{ maskDefinitions: { 'A': undefined } }". This didn't seem obvious to me.

Thanks for sending me back to the drawing board.

[2016-01-05 19:09] lukepfeiffer10 commented on #72
Yeah after commenting earlier I was thinking how you would go about undefining something in the default `maskDefinitions` and I guess that is probably the only way to do it on an individual level... Not sure that could be changed either without making breaking changes to the directive.

On a global scope, you could obviously just redefine the entire object but I don't know if that is a good soluti

[2016-01-07 21:38] augustbend commented on #19
@settysreekanth, I'm in a similar scenario. Did you manage to fix this? If so, could you show how you did it. Thanks!

[2016-01-07 22:21] burakicel opened #99 "Keep invalidated data on blur, but clear it if it's empty."
I know you can keep invalidated data with ui-options="{clearOnBlur:false}", but if the textbox is empty, this leaves a blank mask. Is it possible to show the placeholder if it's empty ?

Let's say ui-mask="+9 (999) 999-9999", and placeholder="Phone". I want to keep a user's incomplete number but show "Phone" if they have no number input when they blur. Thanks

[2016-01-07 23:14] settysreekanth commented on #19
@augustbend Not sure if its good to give link to different library in this forum however I ended up using different masking library https://github.com/RobinHerbots/jquery.inputmask and writing my own custom directive as below
[code]

[2016-01-07 23:27] lukepfeiffer10 commented on #99
Is the functionality in this [plunkr](http://plnkr.co/edit/4tl83vhZQL3KLzXJjjph?p=preview) what you are trying to get?

[2016-01-07 23:41] egdraper commented on #95
There is a "!" at the beginning of the minified mask.min.js file, which is breaking the code. It took us over an hour to realize where the problem was. Simply remove the "!" and it should work.

[2016-01-07 23:50] burakicel commented on #99
Yes, exactly what I was looking for. I will look into it. Thanks!

[2016-01-07 23:50] #99 closed

[2016-01-08 00:06] lukepfeiffer10 commented on #99
Okay I'll try and get a PR for that change tomorrow. That was a quick, dirty, untested change in that plunkr just to check I understood you properly.

[2016-01-08 01:16] PowerKiKi commented on #2
Should be fixed via #98

[2016-01-09 04:05] Tim91084 commented on #95
I see the exclamation point, but, it's been there for a little while - https://github.com/angular-ui/ui-mask/blob/84ef9137a40f24936ac9fc13722a143d42bf9dee/dist/mask.min.js

[2016-01-13 04:09] armyofda12mnkeys opened #101 "using ui-mask with other directives (like a capitalize directive)"
I was using the old ui-mask (before it depreciated/moved into angular-ui).
I combined ui-mask with a capitalize-all directive (so as you type 800foobar, it auto-caps it to 800FOOBAR). But now that code doesn't work (the capitalize-all directive runs at the end of the mask but doesn't capitalize as you type). Any idea how to fix?

My html code is pretty simple below:
[code]
and matching directive:

[2016-01-13 11:23] pduersteler opened #102 "Placeholder char is added to value"
If I set `_` as a placeholder value and define a mask for accepting e.g. phone numbers from various countries (which have different lenghts) by setting a mask like `+99 99999999?9?9?` and the entered value is not as long as it could be, the placeholder chars are also submitted.

So, for entering e.g. `+41 1111111`, I actually get `+41 1111111__` as value in the model and in the form submitted ther

[2016-01-13 19:35] lukepfeiffer10 commented on #101
Have you considered using the `$formatters` array to modify the view value instead of the `$parsers` array. I believe `$formatters` are supposed to be used to modify the value from the model to the view.

Essentially, you have a `$parser` to handle `view -> model` data manipulation and `$formatters` for `model -> view` data manipulation.

[2016-01-13 19:37] lukepfeiffer10 commented on #102
A sample plunkr would be helpful to clarify exactly how you are using the directive.

[2016-01-18 20:10] MathewBerg opened #103 "Mask of 19"
If you use a mask of 19, it will show this in the input:

`1_`

If you enter a number such as 8:

`18`

The model will be updated to 8

If you enter the number 1:

`11`

The model never gets updated, although it should return a 1. You can see this on the demo page by using the mask of 19 and trying to enter a 1 or a 2. Also it seems that any letter/number you use with the number followed by it doe

[2016-01-19 03:57] lukepfeiffer10 commented on #103
Thanks for pointing out this issue. It appears to be a slightly complicated issue dealing with some core functionality. Hopefully, I will be able to get a fix in place in the next day or two.

[2016-01-19 20:04] MikeMatusz commented on #29
Using ui.mask 1.6.7 and Angular 1.4.4 I'm still seeing this issue in IE11 on an input with a phone number mask.  The input event is still firing with the oldValue as '(___)___-____', it enters the "User attempted to delete but raw value was unaffected" block and sets valAltered = true.  I think this could be handled easily just by checking if the new valUnmasked is any different from valUnmaskedOl

[2016-01-21 10:51] mattiLeBlanc commented on #46
Guys,

Interesting reading up on this masking issue that we only discovered on certain android devices (samsung in general).
Adding type="tel" did work for me. Would this be a recommended fix for now?
Since I am using it on a phone number I have no objections setting the type

[2016-01-23 03:39] NDurham12 commented on #72
@z0rbas , I'm not able to get the disable to work property.

When I use the Mask: ui-mask="1AA89010dddddddddddddddddddddd"
and the UI Options : ui-options="{ maskDefinitions : { 'A': undefined} }"
I get placeholders : placeholder="1__8_010dddddddddddddddddddddd" in my output.  So the '_' are where the 'A' is still be replaced.

what could I be missing here? Seems so simple but I have not been able

[2016-01-23 22:27] wanderleypanosso opened #105 "empty input does not show placeholder text using clearOnBlur: false"
I'm trying to display the placeholder text instead of the empty mask when input is empty. It works great if `clearOnBlur` defaults to `true`. However, when set to `false` (which is what I need), the empty mask is shown instead of the placeholder text.

I'm using the `ui-mask-placeholder` attribute on the input tag as expected.

[2016-01-25 10:59] #105 closed

[2016-01-26 14:21] lukepfeiffer10 commented on #46
@mattiLeBlanc Another thing that you can do is remove the `input` event in the `eventsToHandle` array for android devices. I have done that and that works without changing the input to `type="tel"`

Something like this:

[code]

[2016-01-26 22:13] mattiLeBlanc commented on #46
I am happy to use type="tel" because i am validating a phone number. No reason to fork the repo and change the event, right?

[2016-01-26 22:45] lukepfeiffer10 commented on #46
No need to fork the repo at all to do the above fix. Probably should have given you a little more context though sorry about that.

For example, if you include the above code snippet in your main angular `app.run` function you can modify the `uiMaskConfig` object by passing it as a DI parameter.

[code]

[2016-01-26 22:59] mattiLeBlanc commented on #46
Ah, I see. Thanks for that.

[2016-01-28 02:46] #103 closed

[2016-01-28 08:54] rdehuyss opened #108 "Mask autocompletes with unwanted numbers"
Hi, I like this masking lib but it has a serious bug. If I enter the mask for a Belgian Social Security Number, the mask autocompletes the input with rubbish :unamused:

- Open new browser
- go to https://htmlpreview.github.io/?https://github.com/angular-ui/ui-mask/master/demo/index.html
- enter the mask 99.99.99-999.99
- go to the input field and start typing:
    811 => this changes the value of

[2016-01-28 13:48] lukepfeiffer10 commented on #108
I'm sure this is related to a rather large change I recently made in #107. It passed all the tests we currently have but clearly there are more tests needed.

I'll look into this right away but in the meantime if you can get the version prior to that found in #107 the library should work for you.

Maybe @PowerKiKi can roll that back or maybe I just have to submit a PR with it reverted...

Thanks f

[2016-01-28 14:27] rdehuyss commented on #108
I rolled back to 1.7.0 and that works great!

[2016-01-28 14:41] lukepfeiffer10 commented on #108
Great! Sorry about that inconvenience. I have a fix on the way so thanks again for finding that issue (I forgot to account for identical mask components in a mask...).

[2016-01-29 01:39] PowerKiKi commented on #108
Fixed in 1.7.2, thanks to all of you.

[2016-01-29 01:39] #108 closed

[2016-02-02 20:11] austinstudio opened #111 "IE 9, 10, 11 Issue with Tabbing"
I am trying to tab between fields in IE 9, 10 and 11 and instead of highlighting the entire field I go to it is moving the cursor in a few characters.  In Chrome and Edge it highlights the field and lets me type over the phone number.  Does anyone know how to fix this?  Please see the video in the link for an example of how it is acting.

https://youtu.be/DEqQARKi-MM

The mask is (999) 999-9999.

[2016-02-02 21:07] phazei opened #112 "Request: mask based on input length"
It would be cool if the mask could change based on the length of the input:
input: 1
mask-length-1: 9

input:1234
mask-length-4:9,999

input:12345
mask-length-5:99,999

input:1234567
mask-length-7:9,999,999

or after looking at that:
mask-rtl:9?,9?9?9?,9?9?9?,9?9?9?,9?9?9?
where it applies the mask right to left instead of left to right

[2016-02-03 13:46] bolemeus opened #113 "Using mask for uppercase characters"
I want to use the mask for dutch zipcodes.

For this I use the following html

[code]

Im overriding the maskOptions with following.

[code]

This works, but I also want the input to accept lowercase characters. It should be smart enough to figure out that those need to be transformed to uppercase characters. Can I accomplish this with this library or do I need to write an additional directive?

[2016-02-03 16:46] lukepfeiffer10 commented on #113
Currently this library does not have the functionality of automatically capitalizing characters. I think this could be pretty easily done with an uppercase [filter](https://docs.angularjs.org/api/ng/filter/uppercase).

[2016-02-03 20:29] lukepfeiffer10 commented on #112
This seems more like a post processing step. Maybe in the `$formatters` so that it displays the separators in the `viewValue` only and doesn't persist to the model. Not sure if you want the separators to be included in the model value or not as that could change how this is implemented.

[2016-02-05 19:57] lfjaimesb opened #114 "ui-mask with uib-typeahead"
good afternoon.

I'm trying to use both directive (ui-mask and uib-typeahead), but I can not enable both, any suggestions?

`<input type="text" ui-mask="999-99-999" ng-model="selected" uib-typeahead="cuenta as cuenta.clave for cuenta in cuentas | filter:$viewValue | limitTo:8" class="form-control">`

[2016-02-05 21:12] lukepfeiffer10 commented on #114
I think your issue stems from the filter on the typeahead `filer:$viewValue`. The ui-mask directive sets the `$viewValue` property as part of its main functionality. This is what causes the input to appear like so `___-__-___` and `123-__-___` after entering some text. Which I assume those kind of values would match nothing in your set of values to filter.

Currently there is no way with the ui-ma

[2016-02-12 18:00] lfjaimesb commented on #114
If I assumed it was some $viewValue, it's just my first project with AngularJS so I have little experience with the environment, so I took some work to find where to make changes, but finally I got it, and I share in case you want to add to the repository, really I do not know how to add it and if I have permission or not, if someone wants to tell me how to do it, we will gladly continue to partic

[2016-02-15 11:27] dandanknight opened #116 "Include mask chars in value"
Hi, is it possible to include the mask character in the final model value?

For instance, if I have an input like this....

`
<input ui-mask="9:99" ng-pattern="/^[0-5]:[0-5][0-9]$/" ng-model="vm.title.displayRuntime">
`

...then the output, for example is "123", whereas I'd like it to be "1:23", including the character that is specified in the mask.

Is there an easy way of doing this do you know?

[2016-02-15 11:48] dandanknight commented on #116
Actually, I think I've sussed it by finding the undocumented option of `model-view-value="{{true}}"` by searching though the demo code.

[2016-02-15 14:08] lukepfeiffer10 commented on #114
After looking over what you have done so far, I would highly recommend not changing the source code of either of those libraries to have checks determining if your element contains both of those directives.

Let me see if I can put together something in a plunkr for you.

[2016-02-15 17:35] wanderleypanosso commented on #46
@lukepfeiffer10 I'm facing the same issue on Webkit running on Android devices. I tried tu use the code snippet you sugested above, however, when I try to delete the digits, the cursor gets stucked on the first character of the mask it encouters. e.g:

with this mask:
(99)99999999?9

with the cursor at the end of the input:
(11)123412345|

when trying to delete digits it works great until it encou

[2016-02-16 16:08] lukepfeiffer10 commented on #46
@wanderleypanosso First thing I would check is make sure you are using the latest version. I wasn't able to recreate the issue using Chrome on a desktop but that doesn't necessarily mean your issue isn't valid I just don't have an easy way to test on an Android device currently.

[2016-02-17 21:01] OlexandrPopov opened #118 "$invalid is preserved when blur event occurs"
I use a phone mask for my input field. When I type a few digits of a phone number into the input and move the focus to another input, the masked input is cleared but it has invalid state.

Steps to reproduce:
1. Open this [plnkr](https://plnkr.co/edit/9uNby52iwAF0DOdhUWQZ?p=preview)
2. Focus the input and type only a few digits of a phone number.
3. Click outside the input (make the input unfocuse

[2016-02-18 07:31] #113 closed

[2016-02-18 07:33] PowerKiKi commented on #116
Should be solved by #117

[2016-02-18 07:33] #116 closed

[2016-02-18 07:49] #90 closed

[2016-02-19 00:23] mackski opened #120 "Cannot set global config"
Tried global config and also part of app.run however I always get the message:
Error: [$injector:unpr] Unknown provider: uiMask.ConfigProvider

Angular 1.4.3

Works without global config.

[2016-02-19 02:52] PowerKiKi commented on #120
Try with the brand new 1.8.0 and it should work.

[2016-02-19 02:52] #120 closed

[2016-02-19 03:15] mackski commented on #120
Indeed it's fixed, however this two options cannot be set in global config:
uiMaskPlaceholder
uiMaskPlaceholderChar

[2016-02-19 13:56] lukepfeiffer10 commented on #120
@mackski Those as well as `modelViewValue` should probably be part of that global config object but for now if you need them they can be used as attributes on an individual input element. I'll look into adding them to the global config later.

[2016-02-19 14:02] lukepfeiffer10 commented on #118
Thanks for the plunkr and clear steps to follow. I'll look into it when I get a chance (hopefully soon).

[2016-02-22 09:27] NPRUQ9 opened #121 "Mask 4784899999 not working"
Cannot enter correct value with this mask (4784899999 - fixed part of 47848 and 5 symbols as any digit).

[2016-02-23 07:31] #121 closed

[2016-02-23 07:33] PowerKiKi commented on #121
Fixed in 1.8.1

[2016-02-23 22:00] burakicel opened #123 "Android 4.4 / Backspace bug with certain masks"
Hey, I am using UI mask on Android 4.4 (Kitkat) in an Ionic project.

Mask I am trying to run is "+1 (?9?9?9) ?9?9?9-?9?9?9?9" for the phone number. I did this because I want the country code to be pre-populated. What I noticed is that if I try backspacing on androids native keyboard when there is no input, I will get additional "1"s appended to my phone number. While all I pressed was the backspa

[2016-02-24 02:42] Tim91084 commented on #15
We can close this one, right?

[2016-02-24 18:46] RafaelTaranto commented on #118
In this bit of code on the blurHandler function, using $setViewValue solves the bug.
[code]
I'll not submit a PR right now because there is a comment explicitly saying not use $setViewValue. I'm not really sure why the component should keep it's $pristine state after a blur event.

Anyone knows the reason for this?

[2016-02-24 20:17] lukepfeiffer10 commented on #118
@RafaelTaranto Thanks for looking into this and I was about to link that issue for explanation until I saw your edit.

[2016-02-24 23:50] lukepfeiffer10 commented on #123
Trying to look into this issue but I'm having issues getting an emulator running.

[2016-02-25 07:14] ashwin027 opened #124 "Nuget"
Is there any way, we can make this library available on nuget?

[2016-02-25 09:07] #15 closed

[2016-02-25 13:48] lukepfeiffer10 commented on #124
I think that would be a bad decision as even Microsoft has recommended using bower/npm for JS package management in Visual Studio. [Source](http://www.hanselman.com/blog/IntroducingGulpGruntBowerAndNpmSupportForVisualStudio.aspx)

Also, npm is fully supported in Visual Studio as of 2015. [Source](http://webtooling.visualstudio.com/package-managers/npm/)

[2016-02-26 20:47] matyax opened #125 "Support for multiple masks in one input"
We have a situation where we need to support masks for credit cards, which are:
* 9999-999999-99999
* 9999-9999-9999-9999

Is it possible to support multiple masks in the same input? I found no reference in the docs.

[2016-02-26 21:03] lukepfeiffer10 commented on #125
I'm not sure what your exact use case is but you can assign the ui-mask attribute to a variable and then have that variable change to whichever mask you need based on the credit card type.

The demo page uses this to allow for dynamic mask generation.

[code]

[2016-02-26 21:03] #124 closed

[2016-02-26 21:11] matyax commented on #125
That may help, it's a rather odd use case the one I'm working on.
Thanks for the feedback.

[2016-02-26 21:11] #125 closed

[2016-02-27 11:45] renatoguarilhadeploy commented on #31
@hahn-kev Thank you very much for that code. You really saved my time.

Regards

[2016-02-28 23:45] lukepfeiffer10 commented on #123
@burakicel I'm working on getting a BrowserStack account up and running so that I can try and debug this issue.

[2016-02-29 11:12] Sir-J opened #126 "Clear default maskDefinitions"
How do I change maskDefinitions for a single item?
If i write:

result mask

[2016-02-29 14:03] lukepfeiffer10 commented on #126
@Sir-J The readme includes explanation about how to customize the `maskDefinitions` for a single element and globally. If that doesn't help, then I need more information about what you are trying to do in order to help solve your issue.

Also, using a `?` as an character in mask definitions will most likely cause issues as the `?` is interpreted as the optional mask character flag.

[2016-02-29 17:46] Sir-J commented on #126
elatively? I understood you. Tomorrow I'll try to adjust to a different character.
Today, I am doing so:

In control:
[code]
In view:
`
<input ui-mask="+7 (9??) ???-??-??" ui-options="uiMaskConfig" ng-model="phone">
`
After start app i see:
![ui-mask](https://cloud.githubusercontent.com/assets/12563410/13402993/03076d0c-df3d-11e5-8a6d-e6b808aea1f6.png)

If I comment out this line in iu-utils.js:
`

[2016-02-29 19:53] lukepfeiffer10 commented on #126
Ah okay, well it looks like you are using a very old version of ui-mask if it is still in ui-utils.js which might be part of the problem.

If you want to redefine the entire `maskDefinitions` on an individual element, then you would need to set each key from the defaults to `undefined` and then define the character you want.

Example:
[code]

However, I am not sure if that will work with your vers

[2016-03-01 02:25] Sir-J commented on #126
Thank you, I will do so today.

[2016-03-01 05:30] #126 closed

[2016-03-01 14:28] lukepfeiffer10 commented on #123
@burakicel I am trying to reproduce this bug using BrowserStack and a Galaxy S5 which is running 4.4 and not able to reproduce your issue. Are you sure you are using the latest version of the library? If so, is there any more information you can add to this that can help me replicate what you are seeing?

[2016-03-01 14:30] #111 closed

[2016-03-01 14:34] lukepfeiffer10 commented on #102
@pduersteler Are you setting `modelViewValue="true"` on your input? This sets the model value to be the same as the view value which explains the placeholder characters in the model because the view value contains those placeholders. Otherwise, (`modelViewValue="false"`) the model value does not contain any of the placeholder characters even though the view value does.

[2016-03-01 14:35] #5 closed

[2016-03-02 11:22] son0nline opened #128 "how can I unMask when focus and remask when blur"
Hi everyone,
how can I unMask when focus and remask when blur?

[2016-03-02 14:11] lukepfeiffer10 commented on #128
That is not a current functionality in this library.

[2016-03-02 14:11] #101 closed

[2016-03-02 14:12] #95 closed

[2016-03-02 14:14] #84 closed

[2016-03-02 15:58] russkin opened #129 "Process viewValue within ng-repeat"
Code
[code]

result:
[code]

Code also available at link http://jsfiddle.net/9o9bke9c/

[2016-03-03 10:35] son0nline commented on #128
so can I do that by other way?

[2016-03-03 13:48] lukepfeiffer10 commented on #128
You can make a directive that utilizes the ui-mask filter from this issue #31 when the blur event occurs to mask the input value and then if the element is focused you would have to unmask the value.

[2016-03-03 15:49] burakicel commented on #123
Hmm. When I noticed this bug, I was using an Android 4.4.2 (Nexus 7) emulator. As I mentioned, this bug also happened when I tried to run the demo page (https://htmlpreview.github.io/?https://github.com/angular-ui/ui-mask/master/demo/index.html) on the browser. I am not sure if the demo page is using the latest version of UIMask. I will inspect this issue after work and hopefully provide some scre

[2016-03-07 00:07] waldandrade opened #130 "Angular Material with ui-mask"
With this ....

//if ( ! originalPlaceholder) {
//    iElement.attr('placeholder', maskPlaceholder);
//}

I got this working fine!! Cause Angular Material input gets previous label to placehold the field with great style.

[2016-03-07 23:53] lukepfeiffer10 commented on #130
I'm not sure why you opened this issue. Is there an issue? If so, what is it?

[2016-03-08 00:05] lukepfeiffer10 commented on #129
I'm not exactly sure what your use case is here. Why would the data in the model be `12` but you want the ui-mask library to overwrite that value on data bind? Why wouldn't the data in the model already be in the required format if you are setting `model-view-value=true`, especially if you are loading that data from somewhere?

[2016-03-08 00:05] lukepfeiffer10 commented on #118
Any updates @RafaelTaranto?

[2016-03-08 00:51] waldandrade commented on #130
Sorry ... i was not clear!

This is a incompatibility issue. If i download this plugin, and install in my modular app, this block breaks the modular layout ..

Modular uses label to create placeholder, but this block forces a creation of a poor placeholder with mask value.

I sugest that you change this in the new version, cause no one needs the mask as placeholder. :D

[2016-03-08 11:36] RafaelTaranto commented on #118
@lukepfeiffer10 Sorry, I got completly swamped at work..

If anyone wants to test and PR i'm using this code in the blurHandler function.

`scope.$apply(function() {
    if (!controller.$pristine) {
      controller.$setViewValue('');
    }
});`

Haven't noticed any side effects to this fix so far, but I'm not with a lot of time to test this for real.

[2016-03-09 00:51] lukepfeiffer10 commented on #130
I'll look into providing an option for this functionality (ui-mask not adding the placeholder) but completely removing it could cause issues for people relying on this feature to have a placeholder.

[2016-03-09 16:56] waldandrade commented on #130
The problem is that if i say to directive that want no placeholder, so i think the directive couldn't force this.

But i just wanted to help! thanks

[2016-03-14 17:36] gandaldf opened #132 "ui-mask in a directive with parsers/formatters"
I'm trying to integrate AngularJS ui-mask and $parser/$formatters in the same directory in way to have a complete directive to handle all my date inputs. I don't know if the problem is with ui-mask but my parser/formatter definition work right when in a separated directory...

Here is my plunk: https://plnkr.co/edit/DOA7h7XxrvngsMAIzc5P?p=preview

If for example I write "01/01/1985" I would like t

[2016-03-15 14:12] #128 closed

[2016-03-15 14:13] #114 closed

[2016-03-15 14:13] #102 closed

[2016-03-16 20:55] gandaldf commented on #132
Well, I've founded a solution that I leave here just in case: https://plnkr.co/edit/uKHApunRK9muCGCE5uXx?p=preview

[2016-03-16 20:55] #132 closed

[2016-03-17 13:39] lukepfeiffer10 commented on #118
Fixed with #134

[2016-03-17 13:39] #118 closed

[2016-03-17 13:40] lukepfeiffer10 commented on #130
@waldandrade Try out the new config option `addDefaultPlaceholder` and let me know if that works for you.

[2016-03-18 07:31] tbhasme opened #135 "uiMask.ConfigProvider not working"
The `maskDefinitions `method is not present on the `uiMask.ConfigProvider`

This is a snippet from the documentation

[code]

However in `dist/mask.js` there is no such method present. Also there is no example for using the `ui-options` directive.

Can you guide me as to how I can specify a custom mask definition.

[2016-03-18 16:58] PavelPolyakov opened #136 "ui-mask-placeholder-char:" " has no effect"
Hi,

Even when I do:
![image](https://cloud.githubusercontent.com/assets/839290/13885389/708cc784-ed32-11e5-9777-aff27d8932ba.png)

I still have the mask on the screen:
![image](https://cloud.githubusercontent.com/assets/839290/13885398/7cb79d4a-ed32-11e5-806c-6450fddb6737.png)

Same happens on the demo page:
https://htmlpreview.github.io/?https://github.com/angular-ui/ui-mask/master/demo/index.ht

[2016-03-18 19:48] lukepfeiffer10 commented on #136
You can use the config option `addDefaultPlaceholder=false` to remove the default placeholder functionality for the library. This can be done on an individual element using the `ui-options` attribute or by using the global config settings as described in the readme.

[2016-03-18 19:53] lukepfeiffer10 commented on #135
@Lefka worked on the config provider addition maybe he can give insight on that part.

The `ui-options` attribute works like any normal html attribute except you provide it a JSON string with the options you wish to override specified as key/value pairs.

[code]

[2016-03-18 19:58] PavelPolyakov commented on #136
I have done that, it removes the placeholder indeed. However, when I start to type - the placeholder is in place again. While nothing is in the field and focus is not in the input - there is no placeholder there.

[2016-03-18 20:34] lukepfeiffer10 commented on #136
That functionality is pretty much the entire purpose of this library. To give a user a "mask" for how the input should be entered. I'm not sure what you are trying to use this library for if not for that purpose.

[2016-03-18 21:04] PavelPolyakov commented on #136
Correct,

but according to the documentation, we have this option:
`uiMaskPlaceholderChar`

I want to set this option to be the space. I think it's still logical, that it would just draw the space instead of the `_`, or any other placeholder char I can set (it works perfectly with any of `#!@#$abcd`). I think it would still look cool and convenient for the end user if we show him the mask with the

[2016-03-18 21:30] lukepfeiffer10 commented on #136
Okay I can look into why the space character is not working as a valid `uiMaskPlaceholderChar`.

Thanks!

[2016-03-21 16:42] lukepfeiffer10 commented on #136
@PavelPolyakov I had some more time to look into this and found the issue. If you want to set the `uiMaskPlaceholderChar` as a `space` character, then you need to set the `uiMaskPlaceholderChar` attribute to the word `space`.

[code]

This is mentioned in the demo page but is not documented well in other places.

[2016-03-21 18:23] richardkhchang opened #137 "Masked value should not be set if unmasked value is empty"
Hi,

I'm currently trying to get google chrome auto-fill to work on a form that contains inputs that use a ui-mask. I'm running into an issue where auto-fill stops working on inputs that use ui-mask once the input has been touched.

I've investigated the issue, and this is the cause:
* auto-fill only populates fields that are empty and do not contain text
* ui-mask re-applies the mask to whatever

[2016-03-21 19:02] lukepfeiffer10 commented on #137
Not sure if this is the cause of the issue, although I suspect as much, but you are using the `ui-mask-placeholder-char` attribute incorrectly. I would suggest removing that attribute and trying your situation again.

The `uiMaskPlaceholderChar` is meant to be set as a single character or the word `space` which then changes the default placeholder character, `_`, to whatever you assign it to be. T

[2016-03-21 19:29] PavelPolyakov commented on #136
@lukepfeiffer10
Thanks, man! That really helps!

Sorry for me being not enough attentive :)

[2016-03-21 19:29] #136 closed

[2016-03-21 19:40] lukepfeiffer10 commented on #136
No worries. I try to take note of these semi hidden facets of the library so they can be documented in the readme so thanks for mentioning this.

[2016-03-22 17:48] RafaelTaranto commented on #135
@lukepfeiffer10 Looks like the method is actually missing, also the following test does not change the clearOnBlurPlaceholder, only checks the default value.

[code]

I think i can PR later today if @Lefka doesn't respond to this.

[2016-03-22 18:03] RafaelTaranto commented on #135
@tbhasme You can specify a custom mask definition using the `ui-options`. I'm not really sure on how insert the regex directly into the html, but you can set a variable in the controller and use it in the ui-options.

[code]

[code]

[2016-03-25 17:54] hassandad opened #140 "How to use without input."
I want to use this masking without input. I tried but it doesn't seem to work. Is it possible to use it with span or any other html tag?

[2016-03-25 22:37] mryarbles opened #141 "Cursor issues on Samsung Galaxy s5, and Nexus 6"
Just discovered that there are major issues on our Android devices.

Using
ui-mask="(999) 999-9999"
ui-options="{clearOnBlur:false}"

or

ui-mask="99-99-9999"

The cursor seems to get stuck after the first digit you enter. If you select a new position, it will get stuck again after you enter another digit.

This is very very broken.

Unfortunately, we're using this directive in about a dozen place

[2016-03-26 00:51] mryarbles commented on #141
Update: When I switch the keyboard from Samsung Keyboard to Google Keyboard, Google's keyboard works with no issue. I looked on the Nexus device and it was using a custom keyboard.

[2016-03-26 01:37] lukepfeiffer10 commented on #141
I and others have seen this issue many times and the fix I have found is to disable the `input` event in the `eventsToHandle` array. This can be done using the config provider as documented in the readme.

This fix should probably be mentioned in the readme as well as it is a common issue. Hopefully I can add it soon.

Let me know if this solution works for you.

[2016-03-28 15:41] lukepfeiffer10 commented on #140
You can try using the gist linked in #31 which should allow you to use `ui-mask` as a filter in binding expressions just like any other angular filter.

I have been meaning to integrate that gist into the main library and just haven't made the time for it yet.

[2016-03-28 16:10] #130 closed

[2016-03-29 17:43] kaiocb commented on #141
@mryarbles: in samsung devices smart typing will mess up you inputs but this may help you in custom keyboards in other devices as @lukepfeiffer10 said:

[code]

[2016-03-29 18:28] lukepfeiffer10 commented on #141
Also, @kaiocb with the newest version of the library you don't have to use the `run` function to change the `uiMaskConfig` object as there is now a `uiMaskConfigProvider`. The run functionality is still preserved but the config provider is more standard and hopefully easier to use.

[2016-04-08 00:32] Rouche opened #143 "Display fill character only when mask hit the correct lenght when placeholder is space."
Hi,

I think this would not be that hard to do, would it be possible to display fill characters only when the length of the value is greater than the fill position?

A big like ngMask is doing.

You can see a fiddle here with both in action. Notice that only ui-mask works with ui-bootstrap datepicker.

http://plnkr.co/edit/zCGXtvY87BTa2eoQxcHq?p=preview

Thanks.

[2016-04-08 14:23] lukepfeiffer10 commented on #143
I will look into this but my first thought is that this will be quite difficult to implement with the existing functionality as most of the core code in the library is about removing/adding the mask placeholder characters while the user is typing.

Also, I would hesitate to say that `ui-mask` works perfectly with the datepicker control. If you notice, when typing in a date in the ui-mask/datepicke

[2016-04-08 14:25] #140 closed

[2016-04-08 14:25] #137 closed

[2016-04-08 14:27] lukepfeiffer10 commented on #135
Should be fixed in v1.8.3 from PR #138

[2016-04-08 14:27] #135 closed

[2016-04-08 14:29] lukepfeiffer10 commented on #43
Closing due to inactivity and original issue appears to be a non-issue or at least not reproducible.

[2016-04-08 14:29] #43 closed

[2016-04-08 14:35] Rouche commented on #143
Oh this behavior is normal, because while typing, the date is not valid corresponding to the format of the uib-datepicker-popup.

I tested also with time format and date + time format.

Dont worry it works well :)

[2016-04-11 15:55] BrianVallelunga opened #144 "Bind to ui-mask?"
I have no problem using `ui-mask="999999"`, but when I try to bind that value the mask does not appear: `ui-mask="vm.myMask"`

Should this work?

[2016-04-11 16:00] lukepfeiffer10 commented on #144
Binding a variable to the `ui-mask` attribute requires it to be surrounded by `{{ }}`.

i.e. `ui-mask={{vm.myMask}}`

[2016-04-11 16:25] BrianVallelunga commented on #144
Thanks. While that works, it doesn't seem that it will pick up a placeholder bound the same way:

`<input ng-mask="{{ vm.myMask }}" placeholder="{{ vm.myPlaceholder }}" ui-mask-placeholder />`

When trying that, I just get the mask underscores, not the placeholder I expect.

[2016-04-11 16:34] lukepfeiffer10 commented on #144
Not sure what's wrong with the placeholder as that is exactly how the tests are operating and those are passing. Do you have the latest version and/or can you create a plunk that shows the issue?

[2016-04-11 17:04] BrianVallelunga commented on #144
Yes, I recreated the issue here: http://plnkr.co/edit/kL6tOBeBmRD52k1uiw5z?p=info

I'm getting both the mask and placeholder from an API call and while the mask is updated, the placeholder is not.

[2016-04-11 17:34] RafaelTaranto commented on #144
I'm guessing there is something wrong with the observer as 'initing' the value of the placeholder works.

[2016-04-11 18:01] lukepfeiffer10 commented on #144
Part of the problem is that you have a `ui-mask-placeholder` attribute and a `placeholder` attribute and those do not function properly together.

However, there appears to be another issue even after you remove the `ui-mask-placeholder` attribute which I'm not sure why the unit tests aren't catching that problem. I will have to look into that sometime soon.

[2016-04-11 18:49] BrianVallelunga commented on #144
Are you sure I don't want both `ui-mask-placeholder` and `placeholder`? That's exactly what the demo page uses and I don't think it worked without `ui-mask-placeholder`:

https://github.com/angular-ui/ui-mask/blob/master/demo/index.html#L35

[2016-04-11 18:53] BrianVallelunga commented on #144
Also, I discovered that if I have a dummy placeholder before the API call the placeholder will properly update: http://plnkr.co/edit/4T5iciN6ggRLDxmQp2Yc?p=info

[2016-04-11 19:06] lukepfeiffer10 commented on #144
The demo page might have it wrong and could possibly need to be updated. All I know is that from looking at the code if you have both `ui-mask-placeholder` and `placeholder` only one of them will be observed using `iAttrs.$observe` and the `ui-mask-placeholder` attribute wins that contest. Lines of code I'm referencing.

[code]

https://github.com/angular-ui/ui-mask/blob/master/src/mask.js#L182

[2016-04-11 19:08] RafaelTaranto commented on #144
That's also what i thought, but why would it work when a dummy placeholder is put before loading the API call?

[2016-04-11 19:17] lukepfeiffer10 commented on #144
My best guess is that the `initPlaceholder` function doesn't handle `null` or `undefined` properly and so it ends up in a mixed state of thinking there is a placeholder and not a placeholder at the same time; but that is just a guess

[2016-04-12 20:32] erinzobitz commented on #123
@lukepfeiffer10 I'm experiencing the same issue and you're able to reproduce it using the demo page. @burakicel is there any work around that you've found?

[2016-04-13 13:41] lukepfeiffer10 commented on #123
@erinzobitz I was never able to reproduce this issue. If you could include more information or a short video/gif of what is happening I might be able to help.

[2016-04-13 15:28] erinzobitz commented on #123
Ok @lukepfeiffer10, video attached! Thanks for checking it out. I'm just on the demo page, using a Samsung Galaxy S4 with Android 4.4.2. You can see the cursor jumping around so you can put numbers in the order you intend, as well as backspace issues.

[Video.MOV.zip](https://github.com/angular-ui/ui-mask/files/217418/Video.MOV.zip)

[2016-04-13 15:46] lukepfeiffer10 commented on #123
@erinzobitz First thing I would try is removing the `input` event from the `eventsToHandle` array (for android browsers). I meant to put a code snippet in the readme explaining this but haven't done that yet. It might be time for me to do that in the library for android browsers...

Code snippet
[code]

[2016-04-13 23:04] erinzobitz commented on #123
You rock @lukepfeiffer10! This fixed the issue. Backspace gets stuck at the dashes and you have to move the cursor to get where you want, but that seems to be another known issue.

[2016-04-20 00:34] alejandromagnorsky opened #145 "Can't use with input type="number""
Got this error message in Google Chrome:
`Error: Failed to read the 'selectionStart' property from 'HTMLInputElement': The input element's type ('number') does not support selection.`

[2016-04-20 13:36] lukepfeiffer10 commented on #145
`ui-mask` wasn't designed to work on inputs of type number. Also, I doubt there would be a way to make it work either because of the limited valid characters for a number input.

[2016-04-20 13:36] #145 closed

[2016-04-20 15:24] lukepfeiffer10 commented on #144
So, I've discovered the problem (still working on a potential solution). The problem stems from having the mask and the placeholder "resolve" simultaneously like in your original plunk. When they both change in the same `$digest` loop the `initPlaceholder` function runs before the `processMask` function which is causing the funky placeholder issue because `processMask` overwrites the `maskPlacehol

[2016-04-21 01:15] robson-jardim commented on #135
It's working in v1.8.3!!!

MY HTML:
<input type="text"
       ng-model="redeemCodeGet.text"
       ui-mask="***-***-***"
       ui-mask-placeholder
       ui-mask-placeholder-char="_"
       ui-options="options" >

MY ANGULARJS CONTROLLER:
$scope.options = {maskDefinitions: {'*': /./}}; //To accept all char

[2016-04-26 09:31] bokzor opened #146 "Mask more than 1 character not working."
Hi.

Every mask more than one character is not working. But If I copy/paste I can edit the value.

Any clue what could be the cause ?

[2016-04-26 17:30] lukepfeiffer10 commented on #146
Going to need more information to help you out or even a plunk that shows the issue.

[2016-04-28 18:55] erinzobitz opened #147 "Conditional mask applied on key event"
I want to support both standard CC formats (9999 9999 9999 9999) and Amex (9999 999999 99999). I'm using the first character entered to set a `creditCardProvider` scope variable to determine the mask, i.e. 3 for Amex mask. However, when it conditionally applies the mask to support Amex it clears the input field or the new mask overrides. Any thoughts on how to tackle? I would imagine someone has h

[2016-04-28 18:57] erinzobitz opened #148 "Conditional mask applied on key event"
I want to support both standard CC formats (9999 9999 9999 9999) and Amex (9999 999999 99999). I'm using the first character entered to set a `creditCardProvider` scope variable to determine the mask, i.e. 3 for Amex mask. However, when it conditionally applies the mask to support Amex it clears the input field or the new mask overrides. Any thoughts on how to tackle? I would imagine someone has h

[2016-04-28 18:57] #147 closed

[2016-04-28 21:30] lukepfeiffer10 commented on #148
Unfortunately the only think I can think of that will work with how the library currently functions is a bit hacky.

1. Set up the `ui-mask` to be bound to a variable instead of the expression like you have.
2. Create a watch on that variable.
3. In `setCreditCardProvider` have it also set a variable that is the current view value.
4. When the `ui-mask` variable watch executes set the model value

[2016-04-29 15:38] erinzobitz commented on #148
Thanks @lukepfeiffer10!

[2016-05-02 18:08] DaveKfoury opened #150 "Data with ui-mask not being stored."
Hey! I am trying to use ui-mask, and then store the data in local storage.

All the fields that I don't use ui-mask are stored, but the ones I do use, are stored as null;
The fields without the mask just don't have the **ui-mask** and **ui-mask-placeholder** lines.

Am I doing anything wrong here?

Here is an example:

[code]

Thanks!

[2016-05-02 18:57] lukepfeiffer10 commented on #150
Are you trying to store "invalid" values in local storage? For instance, a valid license plate would be `ABC-1234` according to your mask. Are you trying to store a partially filled out license place, such as `ABC-____`?

[2016-05-02 19:04] traviskindred commented on #145
Workaround I'm using is to use type tel. That gives the benefit of numeric input on touch input devices, but it breaks validation.

[2016-05-02 19:08] DaveKfoury commented on #150
No! I am verifying that, and only storing good data.

[2016-05-02 20:20] lukepfeiffer10 commented on #150
The only thing that is slightly wrong is that you don't need the `ui-mask-placeholder` or the `ui-mask-placeholder-char` attributes but that shouldn't be affecting the local storage process. Although since I don't know what that code looks like it's impossible to be certain.

I would just look into your storage code and see what the model value for license plate is at the time of saving to local s

[2016-05-02 20:20] #146 closed

[2016-05-03 00:44] alejandromagnorsky commented on #145
Cool, that seems to work fine. Thanks @traviskindred !

[2016-05-04 08:47] fmiboy opened #151 "Anyway to check/listen if user paste data from clipboard?"
For example lets say I have following mask:

BC - * * * * - * * *

When user paste clipboard text BC-12AF-FGH it skips last GH part and starts pasting from 3rd char and output becomes BC-BC12-AFF.
Is there any way to fix this?
I tried to use ng-paste and update ng-model value, but didn't work.

[2016-05-04 14:11] lukepfeiffer10 commented on #151
Just make sure to select all in the field before pasting values if you want to overwrite what is already in the field.

[2016-05-09 14:48] fmiboy commented on #151
It worked, but any other way to work around without selecting all in the field?
thanks

[2016-05-10 13:53] lukepfeiffer10 commented on #151
Expected functionality for pasting content is for that content to begin where the cursor is in the field. I would guess then that moving the cursor to be before the already entered content would cause that content to be removed if your pasted value is >= the length of the mask.

[2016-05-10 13:53] #151 closed

[2016-05-10 13:53] #150 closed

[2016-05-11 16:08] zalohcin opened #152 "Is it possible to format numbers with commas?"
I am trying to figure out if it is possible to format numbers with commas.

Example:
1000 => 1,000
1000000 => 1,000,000

Using "999,999,999" results in "100,0__,___"  while "___,__1,000" would be ideal.

I believe the simple solution would be to add an option where we can right align the input.

Is this or some other solution possible?

[2016-05-11 17:29] lukepfeiffer10 commented on #152
If all you want to do is add number separators it is rather simple to do with a custom directive; however, this directive does not provide the functionality you are looking for nor does it make sense to add it to this directive.

[2016-05-11 17:29] #152 closed

[2016-05-17 14:36] lukepfeiffer10 commented on #148
@erinzobitz Sorry this took so long but try out the new `allowInvalidValue` in the latest 1.8.4 tag and see if that fixes your issue.

[2016-05-17 14:38] lukepfeiffer10 commented on #78
The new option `allowInvalidValue` should handle this now.

[2016-05-17 14:38] #78 closed

[2016-05-18 15:46] retroq opened #153 "Russian characters in placeholder IE issue"
Hi everyone.
I have a problem with placeholder in IE 10/11.
When placeholder consists from only english letters i see correct placeholder value.
But when i add any russian character in placeholder, the placeholder is replaced with empty mask value.

[Plunkr here](http://plnkr.co/edit/grBUvqIkx4Ms05KBUobt?p=preview) (open in IE 10/11)

[2016-05-18 15:55] retroq commented on #153
Also, when i focus and blur element, placeholder appears.
I've found that IE broadcasts "input" event on start. Adding of this  in the end of  `eventHandler`

solves the problem.

But i don't think that it is good solution.

[2016-05-19 15:12] dinodujmovic commented on #101
The solution that worked for me was:

ui-options={"allowInvalidValue" : true}

[2016-05-20 13:41] lukepfeiffer10 commented on #153
Adding that `blurHandler` call on input would probably cause some weird behavior. I'll debug it and see if I can find out what is happening.

[2016-05-20 14:11] eduardonaguiar opened #154 "validation problem when try to put a part of value of the mask"
In my case I need to put a parcial string in a input masked so even with allowInvalidValue setted to true the model doesn't validate. If I put a complete value the model is validate.

`<input id="phone" name="phone" type="text" class="form-control input-md" ng-model="data.phone" ui-mask="(999) 9999-9999" validator="required" valid-method="submit" allow-invalid-value>`

If I type (000) 0000-000_ (n

[2016-05-23 17:38] #154 closed

[2016-05-24 14:25] edieval opened #155 "Duplicate numbers in model value when paste in IE11"
Hello,

As reproduce in the [angular-ui-mask demo page](https://htmlpreview.github.io/?https://github.com/angular-ui/ui-mask/master/demo/index.html), with Internet Explorer 11 :

- Mask Definition : 99 99 99 99 99 ?9?9 ?9?9
- Default placeholder char : space
- Value to paste : 0608046823

Result :
 - Model value : 0608**0404**6823 (bad)
 - NgModelController.$viewValue : 06 08 04 68 23 (good)

Than

[2016-05-24 18:24] bsssshhhhhhh commented on #102
I've noticed this issue as well - it would be nice for ui-mask to have the option of automatically removing optional placeholder characters from the model if they aren't used, while still keeping the non-optional ones that are used.

With a mask of `(999) 999-9999 ?x?9?9?9?9?9` and an input of `1234567890`, I want the model to be set to `(123) 456-7890`, but instead it is set to `(123) 456-7890 x_

[2016-05-24 20:18] lukepfeiffer10 commented on #102
@bsssshhhhhhh I'm hesitant to make this change as it makes the `modelViewValue` attribute's functionality a little ambiguous.

I think it's possible to do this but I don't know if it should be done.

[2016-05-24 22:08] bsssshhhhhhh commented on #102
Maybe add an extra option for it, defaulting to its current behavior? If it can be done and there's a desire for it, then why not?

[2016-05-24 23:23] msorce commented on #4
Hey everyone, I was able to solve this by having the ui-mask set as :
`ui-mask="(999) 999-9999"`

and the placeholder set:
`placeholder="(___) ___-____"`

then on load with jQuery I did this:
`$(yourMaskedElement).attr('placeholder', 'ENTER MOBILE NUMBER'); `

[2016-05-25 14:00] Roqk opened #156 "Mask and parse errors both on the same input"
Hi,
i verified that if you write a not valid text in an input with ui-mask it produce **two different errors** on it: **mask** and **parse**.

I don't understand why this directive should put both those errors and so i think this is an issue.
I think that mask error should be enough, or not?

I've made a **[Plunker](https://embed.plnkr.co/rfOnJtJc8FlfVei5jSsC/)** to verify by yourself

thanks in a

[2016-05-25 14:19] lukepfeiffer10 commented on #144
There appears to be a lot more to this issue then I first thought after looking through some of the old issues. #4 talks about this being a long standing issue where the placeholder probably doesn't do what it should. This led to the `ui-mask-placeholder` attribute being added which further complicates things. Maybe I will get some time soon to dig into the original problem and come up with a good

[2016-05-25 14:27] lukepfeiffer10 commented on #156
After a little digging it appears that any `$parser` that returns `undefined` will trigger angular to add the `parse` error.

I'm checking to see if the `parser` function can be changed to not return `undefined` and still function properly.

[2016-05-25 14:40] lukepfeiffer10 commented on #156
After looking into this and reading a little bit about the `$parsers` and `$validators` arrays in angular, I think this functionality is working as intended. The `parse` fails which is true for incomplete/invalid entries and so that ensures no validators are being run as those would most certainly fail as well.

[2016-05-25 15:41] Roqk commented on #156
I try to explain my situation: we are using a simple directive to list all form errors ([angular-form-errors-directive](https://github.com/CWSpear/angular-form-errors-directive)) so when we use ui-mask on an input it lists two items for the same input and for the same error so it's redundant.
Obviously we could skip one of them when we found both but we have seen that the _Angular way_ is to list

[2016-05-26 13:03] lukepfeiffer10 commented on #102
Code complexity and ease of use come to mind as why not to add another one off option.

[2016-05-26 13:17] #148 closed

[2016-05-26 17:05] stalbot123 commented on #46
Still getting the error - by the way, the bug can be replicated on the demo page as well. This is what I've tried:
Installed Newest Version
<input type="tel"
modified bindEventListeners() as suggested above.

To replicate the error on the demo page:
1. Select the Mask for telephone (999) 999-9999
2. Enter a phone number in
3. Highlight your recent entry (chrome desktop)
4. Start typing a new area

[2016-05-27 21:01] bsssshhhhhhh commented on #102
Ok no problem, I just added a simple parser that takes care of it for this case. For other input masks you'll need to change the regex around to fit your needs:

[code]

[2016-06-03 19:07] Rouche opened #157 "blurHandler with datePicker, sets back the $viewValue to the mask."
I have a mask 9999-99-99 for a date. (combined with a bootstrap-ui datepicker)

1) Lets say i enter a valid date and blur out. At the end of the blurHandler() i will have:
prevValue = "20100101"
$viewValue = "2010-01-01"

2) Now i backspace the field EXACTLY on the last character, Not one more. blur out:
at the start of blurHandler()
prevValue = "20100101"
$viewValue = ""
3) triggerChangeEvent(iEl

[2016-06-03 19:21] Rouche commented on #157
I got an idea. Do you think this code could do the job in blurHandler()
[code]

[2016-06-06 19:10] lukepfeiffer10 commented on #156
Closing as intended functionality.

[2016-06-06 19:10] #156 closed

[2016-06-07 15:18] phpguru opened #160 "Optional characters should not display a placeholder"
It would be cool if there was an option to turn the placeholder character for optional characters on/off.

For example on a phone field that takes 10 to 13 numeric digits, I'm getting this...

    8008008888___

...in the input field. I would like if the last three underscores were not visible or to have a way to turn them off.

[2016-06-08 13:29] lukepfeiffer10 commented on #157
Can you provide a plunkr that shows this issue? I'm having trouble recreating the issue you have described.

[2016-06-08 13:51] Rouche commented on #157
Probably be tomorrow.

[2016-06-08 17:31] Rouche commented on #157
Plnkr: http://plnkr.co/edit/FlQH8l3cuNTKHMP0bs2G?p=preview

[2016-06-08 21:07] lukepfeiffer10 commented on #157
So, I realized that this is only happening when the placeholder character is `space` which is because angular most likely only sets the value if `trim` actually modifies the string and this would only happen in the case of a `space`.

I'm going to keep looking into this as it does have some weird behavior. However, I am curious if this is actually causing any problems. Could you elaborate on what

[2016-06-08 23:32] Rouche commented on #157
In fact the case is complex.

It have to do with the $valid flags and validations errors.

In this particular case, the flag ng-invalid and ng-invalid-date too. But ng-valid-mask is ok.

The problem is theres no way to determine between an ng-invalid-date + ng-valid-mask when the date entered is : 2016-99-99, except the $viewValue being empty.

[2016-06-08 23:55] Rouche commented on #157
Updated plunk with $isEmpty(). Wich seems not in sync with $viewValue.

[2016-06-09 13:01] lukepfeiffer10 commented on #157
Yeah I found that yesterday too and it's because of the `space` mask placeholder being used that is causing the discrepancy (sort of). If you don't have a `space` for the mask placeholder character then when it gets to this line in the angular source code:

[code]

It ends up triggering the ui-mask `parser` function which then sets the view value again back to what you would expect. However, when

[2016-06-09 13:43] lukepfeiffer10 commented on #157
After digging into the code some more the true culprit is this section of code in the angular source:

[code]

The main problem is still that the placeholder character is a `space` but what that causes to happen is the `$$lastCommittedViewValue === viewValue` in the above `if` check. This means that it will never hit the `this.$$parseAndValidate()` which means it will never get back to the ui-mask

[2016-06-09 14:11] Rouche commented on #157
Yep thats what i did first, but it causes a flicker of values. The triggered one, and then the new one set.

This makes the validators run for nothing, $flag some values that will disapear in next digest.

[2016-06-09 14:27] lukepfeiffer10 commented on #157
That's too bad about the flickering... Have you noticed it being a problem any other time then when `value === ''`? Just want to limit this as much as possible because this also seems like it would cause the element to flicker since you are setting the element's value and then resetting it afterward.

[2016-06-09 14:43] Rouche commented on #157
No just when value is ```''```. I am unable to see a value flick tough. Maybe i should try on a slower computer. But it is very minimal because its only the fill character that might disapear for a millisecond. More acceptable than an error message :)

I understand about the space. I would have kept the underscores myself. But i do not choose the design. And rightfully so hehe :P

[2016-06-09 15:25] lukepfeiffer10 commented on #157
Designers always making it harder for the developer... :P

Okay well if you wouldn't mind updating your PR then I'll get it merged in later today.

[2016-06-10 13:48] #157 closed

[2016-06-10 13:52] lukepfeiffer10 commented on #160
I think both scenarios are goofy. It either looks like you need to enter more information or it looks like you are done but you have `x` number of characters left that need to be entered...

If I get some time I'll look at what this change would entail. Not sure what the effort would be to have this feature.

[2016-06-10 13:55] lukepfeiffer10 commented on #153
Not sure why but the reason you don't see the placeholder (when it has Russian characters) is because the value of the element is set as if the element has focus. However, this only happens with placeholders that have Russian characters (I haven't verified but I would guess any placeholder with non-Ascii characters would have this issue).

This might just be an issue with IE.

[2016-06-10 15:04] phpguru commented on #160
I think the subtle difference here is that

is not quite true. Entering 10 digits for a \d{10,13} - you are done - your input is valid. You don't **need** to enter more characters.

I can solve most common input questions with a tooltip separately from ui-mask. The option for config could look like `{ displayedPlaceholderChars: 'min' }` or  `{ displayedPlaceholderChars: 'max' }` If I have \d{10,13

[2016-06-10 16:59] lukepfeiffer10 commented on #160
I was thinking more from a user's point of view say they have some information already (in their head, email, paper, etc.) and that information needs to go in your field of `\d{10,13}`. If you don't show 13 placeholder characters it could be misleading for the user if their information is 13 characters long.

However, I don't think it's a bad idea to have this ability because it at least allows wh

[2016-06-10 17:00] lukepfeiffer10 commented on #157
Released in 1.8.5

[2016-06-10 18:06] Rouche commented on #157
Sweet, thanks!

[2016-06-16 13:05] lukepfeiffer10 commented on #155
What I have found so far is that IE appears to be doing something differently when it fires events after pasting values than what Chrome does.

This causes a different execution path to happen in IE which is causing this issue. Also, the only reason you are seeing this issue is because you are using `space` as the placeholder character and you have optional characters that extend the length of the

[2016-06-16 13:14] #141 closed

[2016-06-21 14:57] boroth opened #163 "uiMask.Config is not found"
A couple of issues:

First of all, when I try to setup a config block with the `uiMask.config` provider like below:

[code]

I keep getting the following error:

Error: [$injector:unpr] Unknown provider: uiMask.Config

Now, if I rename the ui.mask provider to something like `uiMaskConfigProvider` and reference it as such:

[code]

[code]

it finds the provider, but for some reason the only method

[2016-06-21 15:15] lukepfeiffer10 commented on #163
From the readme.

[code]

It looks like you just forgot to add the `Provider` text when you were trying to inject it in the `config` section.

[2016-06-21 15:23] boroth commented on #163
Wow. I can't read.

Thanks, this is closed.

[2016-06-21 15:23] #163 closed

[2016-06-28 17:21] AmarieEA opened #164 "ip address mask"
I need a mask for block ip address range (example 192.168.70.18/20). For example:

` <input  ng-model="address" ui-mask="9?9?9.9?9?9.9?9?9.9?9?9/9?9" ui-mask-placeholder-char="_" placeholder="" ng-disabled="disabled">`
The problem is so I can only enter this IP address: 192.168.125.254
I can not insert the dot separator after first or second symbol and enter less than three symbols in the section

[2016-06-29 16:45] phazei opened #165 "doesn't work with ng-pattern"
I have an input:

`                            <input input-aurea type="text" name="ssn" placeholder="Social Security Number"
                                   ng-model="detail.ssn"
                                   ui-mask-placeholder
                                   ui-mask="?999-99-9999"
                                   ng-pattern="/^(?!(000|666|9))\d{3}(?!00)\d{2}(?!0000)\d{4}$/"

[2016-06-29 17:06] phazei commented on #165
I tried a bunch of the versions

It seems to work on all browsers on 1.6.8, but it will show an ng-pattern error once 8 of the 9 characters are entered, but is good on char 9.

1.7.0 it works everywhere but FF, there it is always invalid.  But in 1.7.0 the error doesn't show up when 8 of the 9 characters are entered

1.7.1 it doesn't work in any browser

[2016-06-29 17:58] lukepfeiffer10 commented on #165
Try it with this regexp instead `^(?!(000|666|9))\d{3}-?(?!00)\d{2}-?(?!0000)\d{4}$`.

I added `-?` to the expression in a couple places to match where the hyphens are in a SSN and used the `?` operator in case there is some reason the hyphens are being excluded in certain cases.

It appears that `ng-pattern` is testing the `viewValue` of the element which contains the mask characters (in this cas

[2016-06-29 18:08] lukepfeiffer10 commented on #164
I'm not sure what your issue is in this case. Looking at the mask you defined it appears it would accept any value from `0-9` with most of those characters being optional.

If your goal is to limit the range of allowable ip addresses you need to use `ng-pattern` or something like that to validate the input.

However, if you know the first 6 digits for each allowed IP address you could incorporate

[2016-06-29 22:22] phazei commented on #165
that seems to have worked!

[2016-06-29 22:22] #165 closed

[2016-06-30 14:53] AmarieEA commented on #164
I'm probably not quite correctly described my problem. With the current mask, I can not enter fewer than nine characters. Although ip address may consist of less than nine characters.
For example, if I want to enter ip address "192.168.70.18" I can not put a dot after "192.168.70"

[2016-07-01 15:57] thrilleratwork opened #166 "Value of zero not displayed"
https://github.com/angular-ui/ui-mask/blob/master/dist/mask.js#L92

The isEmpty check does not properly check for a value of zero.  For my needs, I changed the check using lodash's isUndefined function:
[code]
I am sure this could be changed to:
[code]

However, I do not know if this would impact other masks.

[2016-07-06 13:40] lukepfeiffer10 commented on #164
Yeah I don't think you will be able to get that functionality using `ui-mask`. Your best bet to try and validate the input would be to make a RegEx matching what your IP addresses can be and then use that in conjunction with `ng-pattern`.

[2016-07-06 13:40] #164 closed

[2016-07-06 14:12] judsonmusic commented on #136
Is there anyway to set this globally?

[2016-07-06 14:39] lukepfeiffer10 commented on #136
Not currently.

[2016-07-06 20:47] lukepfeiffer10 commented on #166
I'm not sure what your use case is but the `unmaskValue` function looks like it would always return a string so I'm not sure how you are event getting `value === 0` to be true...

[2016-07-06 21:23] thrilleratwork commented on #166
The unmaskValue function is not the issue but how value is passed into it.  "||" evaluation is the same as "==" which for [the integer value zero is evaluated falsey](http://zero.milosz.ca/).

As a test, in your browser console, run

[code]
and

[code]

The integer '1' is printed for the first, but an empty string is printed for the second because 0 == false.  For my use case, the default value is

[2016-07-14 20:04] joelcdoyle opened #167 "Screwy Behavior With Regular Placeholder Attribute"
Instead of replacing the text of a traditional `placeholder="Some Number"` attribute, which is standard input tag behavior, the placeholder is visible while typing

`<input type="text" placeholder="Some number" ui-mask="9999"/>`

https://plnkr.co/edit/wSJmnZIqnaxFTfne9vh3?p=preview

[2016-07-14 20:41] lukepfeiffer10 commented on #167
This is a weird long standing issue but to fix your problem you just have to add `ui-mask-placeholder` as an attribute on your input and then it works properly.

[2016-07-14 20:58] joelcdoyle commented on #167
Awesome, thanks for the quick response. This does solve the issue. It does require that you have an placeholder character, though (I didn't want any placeholder char).

[2016-07-14 20:58] #167 closed

[2016-07-14 21:03] lukepfeiffer10 commented on #167
You can set the placeholder character as a `space` with `ui-mask-placeholder-char="space"`. There are some issues with it if you use optional mask characters because of how angular trims `$viewValue` by default. But that might get your closer to what you want.

[2016-07-14 21:05] joelcdoyle commented on #167
Yep, that was it. I was trying to set it with

`ui-mask-placeholder="space"`

 instead of

`ui-mask-placeholder ui-mask-placeholder-char="space"`

[2016-07-14 21:07] lukepfeiffer10 commented on #167
Cool. Glad I could help.

[2016-07-18 01:17] aldarund opened #168 "TypeError: Illegal constructor"
[code]
Happens on this line https://github.com/angular-ui/ui-mask/blob/master/src/mask.js#L479 on mobile devices with android 4.*  ( maybe other too, not sure)

[2016-07-18 16:39] lukepfeiffer10 commented on #168
Hmmm that is odd but it looks like you are running into this kind of an [issue](http://stackoverflow.com/questions/18814683/what-is-rect-function-in-chrome-firefox-for).

Thanks for pointing this out.

[2016-07-18 16:44] aldarund commented on #168
Im just collecting a js errors into sentry using raven.js and noticed this error to be happening on android 4.x with android build in browser, dont seem to be  happen for anyone else, at least in my userbase

[2016-07-22 23:34] courtneynguyen opened #171 "Ability to return the formatted value as an option"
I would like to send back the formatted value to the server. Can we do this with ui-mask? Thank you for any input on this!

[2016-07-25 14:56] lukepfeiffer10 commented on #171
Use the `model-view-value` attribute as described in the readme.

[2016-07-25 14:56] #171 closed

[2016-07-25 14:59] lukepfeiffer10 commented on #166
Maybe you should change your default value then considering the directive is operating under the context of strings...

[2016-07-25 14:59] #166 closed

[2016-07-25 18:24] engemasa commented on #19
@PowerKiKi: Could you please provide a Plunker of the masking functionality (preferably on the datepicker-popup)? Based on the documentation, I'm not seeing how this is accomplished. Thanks in advanced.

[2016-07-25 18:39] engemasa commented on #19
...To be more specific, I'm looking to apply the ui-mask on the input of the datepicker-popup so that a user can enter a date manually (via the keyboard) and the mask will not only indicate the basic "format" expected ( __/__/____ ), but will ALSO restrict the input (numeric values).

[2016-07-26 01:21] PowerKiKi commented on #19
I don't do much work on this project anymore, but @lukepfeiffer10 may be able to help you...

[2016-07-26 16:02] #168 closed

[2016-07-26 17:01] lukepfeiffer10 commented on #168
1.8.7 should have the fix for this if you want to try it out. I was unable to recreate the issue myself.

[2016-07-26 17:11] lukepfeiffer10 commented on #19
@engemasa The more recent versions of this library should work in conjunction with the datepicker directive with a small caveat. I believe if you use `space` as the placeholder character then you could run into some goofy situations.

Wanting the input to be restricted by the `ui-mask` is a different thing altogether and I'm fairly certain would not work for your use case. I would recommend lettin

[2016-07-29 00:18] jsb8908 opened #173 "WARNING: Tried to load angular more than once."
Using ui-mask with browserify:

var uiMask = require('angular-ui-mask');

Gives "WARNING: Tried to load angular more than once." in the browser.

If I remove this line from index.js:
var angular = require('angular');

The warning goes away and everything works fine.

Is there something I'm missing? Should angular be required in the index file like that?

[2016-08-01 15:07] engemasa commented on #19
Thank you @lukepfeiffer10 .

[2016-08-02 13:09] lukepfeiffer10 commented on #173
Honestly not sure if it's needed... Maybe @Tim91084 can answer that as he originally created the `index.js` file.

[2016-08-02 14:01] jsb8908 commented on #173
Thanks.
I did find a way around this in my current setup. You can tell browserify to ignore references that modules try to pull in during the bundling.

(Using Gulp):
var browserify = require('browserify');
var bundler = browserify(props);
 bundler.ignore('angular');

[2016-08-06 22:18] ermolaevalexey opened #174 "Mask doesn't display on focus"
I  loaded the script just as in instruction on my page.
`<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-ui-mask/dist/mask.js"></script>`
Also, I injected the dependency in bootstrapping function:
`angular.module('app', `['ui.mask']);

And, finally, I added ui-mask attribute to input:
`	angular.module('app')

	.directive('myInput', function() {
		return {

[2016-08-07 09:42] ermolaevalexey commented on #174
Please help someone!

[2016-08-07 14:36] lukepfeiffer10 commented on #174
It doesn't work because you added the ui-mask attribute in the link function. Therefore, the ui-mask directive never gets instantiated because the attribute isn't on the element during the compile phase.

Sent from my iPhone

[2016-08-07 15:15] ermolaevalexey commented on #174
Ok, I got it, but what if I have nested directives, and i need ui mask to be provided just in one (phone field) ?

[2016-08-08 08:09] #174 closed

[2016-08-08 08:16] ermolaevalexey opened #175 "Error on click and keyup events"
I finally provided the mask, but here's the problem:
when the field gets focused, i get a TypeError in console:
`Uncaught TypeError: Cannot read property 'toString' of undefined`.
Is this about empty ng-model, when field is empty of something else?
The data from input is handled by formController, which creates an empty object and adds properties from `<form>` to it. Because of this TypeError, I c

[2016-08-08 11:45] ermolaevalexey commented on #175
please answer someone, it's very imporant

[2016-08-08 15:45] #175 closed

[2016-08-08 21:52] #173 closed

[2016-08-12 14:08] neomacedo opened #176 "Incorrect cursor positioning on Samsung devices"
We have the same problem:

Src: https://github.com/assisrafael/angular-input-masks/issues/

Im using ui-mask on Ionic

[2016-08-18 01:31] RyanNHG opened #177 "Letters Deleted On Mobile"
I am using a mask that looks like this: `****-****-****`

On my computer, ui-mask works great.

However, on mobile, if I try to type in all letters, the field __clears itself after the second character__.

What I see:

![image](https://cloud.githubusercontent.com/assets/6187256/17758995/713f874e-64b9-11e6-97d5-4067d12a90f3.png)

[2016-08-19 14:07] SimSot commented on #25
@dimrsilva good day man, your workaround...if the mask is (555) 555-5555, I can't enter the digit 5. Please help.

[2016-08-25 15:33] rusekr opened #178 "Is it possible to have predefined part of masked input that goes to model?"
Hello!
I need to display all phones as mask +7 (999) 999-99-99 but have that first "7" char in result model value. But in the end I have only masked input chars as result and need to add that 7 manually before saving and cut it when loading to model. Is it possible with some configuration? Tried altering default mask regexps but no result.

edit: and another question about mask logic: Is it possib

[2016-08-25 16:21] lukepfeiffer10 commented on #178
First question. `model-view-value=true` which will make the model equal the exact same value as the view.

You can use optional characters for the last two digits but it will validate as correct at 10,11, and 12 characters.

[2016-08-25 16:48] rusekr commented on #178
Thanks for an answer!

[2016-08-25 16:48] #178 closed

[2016-08-29 16:51] aamendoza opened #180 "Time validation"
Hi,

I'm trying to use ngMask library to format time it could be 24hrs fromat.
The format that I'm currently using is: mask="29:59"

This mask has an issue that is that I could set hours like 29 or 24.
If I put the second filter to 4, so the mask is: mask="24:59"  I can't type hours like 19 or 16.

Is there a way to validate the mask to allow type 19 but deny 29?

Hope you could help.
Thanks.

[2016-08-30 08:58] mgol opened #181 "Incorrect isDefined check for placeholder causes errors when used with Angular Material"
See: https://codepen.io/mgol/pen/GjKqka

The main cause of the bug is the line at https://github.com/angular-ui/ui-mask/blob/1.8.7/src/mask.js#L341:
[code]
`angular.isDefined(null)` is true and Angular Material makes `placeholder` be `null` here so errors appear as you can see in the codepen.

Changing `angular.isDefined(null)` to `angular.isString(placeholder)` should help.

[2016-08-30 09:21] mgol opened #182 "Switch from .bind()/.unbind() to .on()/.off()"
Please switch from `.bind()`/`.unbind()` to `.on()`/`.off()`. The former are deprecated as of jQuery 3.0 and we plan to deprecate them in Angular's jqLite in 1.6 as well. `.on()`/`.off()` has been available in jqLite since Angular 1.2.0 (the last one to support IE 8) so it shouldn't be a problem to switch.

[2016-08-31 17:38] ganholete commented on #112
+1

[2016-08-31 18:40] frcol commented on #177
Exactly the same problem here.
My mask is AAA - 9999, When I write the two first letters, the input clears itself.
The problem occurs just in mobile too.

[2016-08-31 18:48] frcol commented on #177
A stranger thing in happening when I set
`ui-options="{clearOnBlur:false}`
thenI write the two letters, click in other input to lost focus, then if I focus again the input with the problem, it lets me finish writing correctly.

[2016-08-31 22:13] RyanNHG commented on #177
Haha, what a strange bug. I tried to tweak the settings too, let me know if you find anything that works.

The module is pretty great outside of this issue.

[2016-09-13 17:10] patlv23 commented on #19
I would just like to post this to illustrate the issues I've been having:
https://plnkr.co/edit/0Vr5YRVREIT5EMu1m55z?p=preview

Basically seems to be a disconnect on the data the "picker" component references as opposed to the value itself.

[2016-09-14 20:34] OlgerCA opened #184 "Can't make the first character optional"
Not sure if I am missing anything. Please try the following mask at the demo page: "?A9". This mask should accept either '5' or 'a5' as valid inputs.

[2016-09-15 18:11] whyld4900 opened #185 "If ngModel is zero on load then viewModel is set to empty string"
Doing "value || ''" is causing me issues when I set the ngModel programmatically to zero.
Really need a specific check for null or undefined, I think.
I'm not sure if this is the right place for the check:
![nguimaskissue1](https://cloud.githubusercontent.com/assets/6947701/18561416/5ddd7e66-7b45-11e6-9f87-10e8d8833392.png)

[2016-09-16 14:17] seiyria opened #186 "zip code mask - 5 or 9 characters"
I can't seem to find any solutions anywhere for this particular issue. I have an app where people can enter a zip code, but they can enter either the 5 digit - ie, 12345, or they can enter the expanded form -ie, 12345-6789.

I've tried `ui-mask="{{ $ctrl.zipCode.length > 5 ? '99999-9999?' : '99999'}}"` as well as `ui-mask="99999-?9?9?9?9?"` - the latter works, but it leaves an undesirable trail of

[2016-09-16 14:37] seiyria commented on #186
Well, at least this problem is out there now. I solved it a different way, using ng-pattern: `ng-pattern="/^\d{5}(-?\d{4})?$/"`

[2016-09-16 14:37] #186 closed

[2016-09-22 05:34] ivanovevgeny commented on #123
Hi! Have the same issue with Android (6.0, 4.4.4).

Video attached.

[bug.zip](https://github.com/angular-ui/ui-mask/files/486548/bug.zip)

[2016-09-22 06:22] ivanovevgeny opened #188 "Bug on input phone with mask"
Hi!

When i put cursor after the country code and type any number, my country code number insert before typed number.

Env: Ionic 1.3.1

[code]

Video attached.
[bug1.zip](https://github.com/angular-ui/ui-mask/files/486591/bug1.zip)

[2016-09-22 06:36] ivanovevgeny commented on #188
If i put a cursor before country code, country code number insert after typed number.

[2016-10-04 14:48] rochapablo opened #189 "How to mask only OnFocus"
I'm using Angular Material and when I add the mask:

[code]

...the input stayed this way:

![image](https://cloud.githubusercontent.com/assets/5365304/19078795/d25e088c-8a27-11e6-9a72-8fc7c08a7264.png)

I wondering if it is possible enable the mask only when I have the onfocus. So that way the layout wouldn't be "broken".

[2016-10-04 14:53] rochapablo commented on #189
Never mind!

Here's what I did:

[code]

[2016-10-04 14:53] #189 closed

[2016-10-06 18:17] edriang commented on #19
@patlv23 Look at this edited plnkr: [https://plnkr.co/edit/DSM7JNqnRMgDULmfoZEb?p=preview](url)

I did some modifications to "Case 1" example:
- Added slash to uib-datepicker-popup="dd/MM/yyyy" to match ui-mask="99/99/9999" mask format
- Added the following attribute  model-view-value="true" that is an option from ui-mask directive

In this way I get the mask working, input value linked to model,

[2016-10-07 07:33] trinhvanhuy opened #190 "[Feature Request] Support multi mask ?"
Hello,
I'm using ui-mask for my angular application
I have to get the mask from the database , everything work well, accept , user want to have multi mask
Ex :
If they type '123NNNN;NNN456' in the database, then in the UI, they can type 123<4 numbers> or <3numbers>456
Do you have any solution for this ?
Thanks in advance

[2016-10-07 08:29] vvsatpute commented on #95
You may refer this file. https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.7/mask.js

[2016-10-07 15:08] ShaggyDude commented on #190
Two different fields with logic to switch them?

[2016-10-07 16:05] patlv23 commented on #19
@edriang weird thing, I tried out your plunk but it doesn't seem to have any difference to my original

BUT...

I tried out the changes you mentioned and it seems to be working. Many thanks!

[2016-10-07 19:33] 1fabiopereira commented on #176
I solve this issue take a look: https://github.com/angular-ui/ui-mask/pull/191

[2016-10-09 13:06] alexislg2 commented on #177
Exactly the same behaviour here. How do you guys handle this? This seems a very serious issue! I cannot put this in production, that would drive my users crasy no?

[2016-10-09 18:51] frcol commented on #177
I found no solution for this issue.
I just got another plugin [angular-input-masks-standalone.min.js](https://github.com/assisrafael/angular-input-masks) that worked for my needs.

[2016-10-09 19:27] alexislg2 commented on #177
There's something I don't understand. I'm discovering this repo but it seems to be a very large one, with 269 stars on Github. But it is not working with mobile devices which represents >50% of the web traffic. How can we be only 3 to be annoyed by this issue?

[2016-10-13 12:33] radonyizsolt opened #192 "Exact characters problem"
Hello there!
First of all thank you for this component, but i have a small issue.

If this is the mask:
40-999-999-999
Everything is fine. It has to start with 40 and after that doesn't matter.

But when I want to add an extra 7 like this:
40-799-999-999
The input on click or keyup starts-to fill the input with a lot of 7's.

No Warning or error messages shown.

[2016-10-14 05:23] feelunreal opened #193 "Bug: caret position after ctrl+v is 3 characters behind"
I'm using:
unique-credit-card ui-mask="9999 9999 9999 9999" ui-mask-placeholder-char="space"

And after insert credit card number with Ctrl+V, caret position is 3 characters behind of end of string.

[2016-10-24 19:20] sphanley commented on #193
It sounds like this would be fixed by this relatively old pull request: https://github.com/angular-ui/ui-mask/pull/183

I wonder if it can get accepted?

[2016-10-26 13:22] skrappyzz opened #194 "input editing issue"
if we edit already entered date from the month, for example, then everything already entered will be just moved out of the field. Can we prevent this behavior?

For example: we have this date 10/22/2016 and we want to change 22 to 23. We click betwen 2 and 2 and enter 3, so the date will be 10/23/2201, but i want to see 10/23/2016.

I found this behavior in this lib http://sanniassin.github.io/rea

[2016-11-04 14:10] mistersender commented on #112
+1, that would allow form autocompletes to work with the masking, which is a big deal for my users. For example, I am using this mask to make a 16 digit number more legible. it is pretty common my users would need to enter the number more than once for searches, so re-entering the entire number from memory or copy/paste is kind of a pain. would be nice if autocomplete would work with it.

[2016-11-11 21:34] pouletfou commented on #4
Following msorce tip about jquery, I created a small directive to replace ui-mask-placeholder.

Just adding
`ubt-mask-placeholder="{{"somestring"}}`
OR  when using angular-translate :
`ubt-mask-placeholder="{{"somestring"` | translate}}

(function () {
  'use strict';
  angular
          .module('app')
          .directive("ubtMaskPlaceholder", ubtMaskPlaceholder);

  function ubtMaskPlaceholder()

[2016-11-15 10:27] DanielFurmanov opened #196 "The optional character should be really optional"
Real live example:

In my projects form I have field `power_capacity` which measures in liters, I have a mask `9?9.9`, the idea was that a user that has 1.6 liters in their car enter two character - `1` and `6`, but those who have more that 9.9 liters would type  '1' '2' '5'  for 12.5 liters engine.
But in fact I get this
![ui-mask-issue](https://cloud.githubusercontent.com/assets/8160816/20302013

[2016-11-16 17:45] ANIRUDH190 commented on #196
Thanks for the plugin! Even, I've a similar issue with my project requirements.

I am trying to create an input masking for an IP address field, which can be any structure such as:
192.168.123.212
192.168.12.21
192.168.1.2
192.16.1.2

How do I solve this problem with this plugin? Please let me know. It will be really helpful !! Thanks again.

[2016-11-16 18:40] nopher02 opened #197 "ng-model doesn't get correctly updated in IE when clicking the little 'x' in the input field"
Hi all,

Thanks for the great control!  It seems like in IE, though, clicking on the little 'x' the browser puts in `input`s doesn't make the `input` act as I would expect (displays the mask only) and doesn't update the underlying ng-model.

You can reproduce the error by opening the demo page in IE (I'm using IE 11.0.32), clicking the second button ("Set to (999) 999-9999") and then entering a nu

[2016-11-16 19:14] DanielFurmanov commented on #196
@ANIRUDH190 It is possibly incorrect to say such things in someones repository. But I was actually able to accomplish what I described bu using ngMask plugin for angular, the only downside is that ngMask does not display pattern in placeholder (so there will be nothing but empty input, no underscores or etc)

[2016-11-18 21:51] piotrl opened #198 "Broken compability with ng-pattern in Angular 1.3.19 and later"
Hi,
great library, our users are happy to use it ;)

Recently I've upgraded Angular from 1.3.12 to 1.5.8 and found out that validating with ng-pattern doesn't work anymore.

Reason is in change introduced in 1.3.19, that ng-pattern directive validates $viewValue instead of $modelValue - [Reference in changelog](https://github.com/angular/angular.js/blob/master/CHANGELOG.md#1319-glutinous-shriek-20

[2016-12-07 04:29] Owizardo opened #199 "Mask not properly formatting ng-model"
Hi there,

For some reason when I try to put:
`<input ng-model="test" ui-mask-placeholder ui-mask-placeholder-char="space" ui-mask="9999-99-99 99:99" />`

The the input field masks correctly as expected but once I enter a correct date for example 2016-12-06 00:00, the ng-model shows up as 20161200000 instead of 2016-12-06 00:00. Has anyone run into this issue before? Kinda of a deal breaker for me

[2016-12-11 19:55] travist commented on #46
I think this solves this problem. I included a description of what caused the bug in the pull request information.

https://github.com/angular-ui/ui-mask/pull/200

[2016-12-11 19:57] travist commented on #193
This may also solve this problem.

https://github.com/angular-ui/ui-mask/pull/200

[2016-12-11 19:58] travist commented on #188
Does this PR fix this problem?

https://github.com/angular-ui/ui-mask/pull/200

[2016-12-13 16:30] mlabarca commented on #2
This problem persists for me exactly as described in android.

[2016-12-15 07:28] Gazaret commented on #188
No

[2016-12-16 13:41] Gazaret commented on #188
This PR #201  should fix this

[2016-12-20 07:17] k-one-o-two commented on #193
Just to bump it: https://github.com/angular-ui/ui-mask/pull/183 will really solve the problem: I also had one and made this change to fix it

[2016-12-20 09:34] chesminsky commented on #128
just css it
`input:not(:focus) {
	@include placeholder {
		color: transparent;
	}
}`
its a mixing for sass in this example

[2016-12-28 00:14] RafaelTaranto commented on #199
Hello @Owizardo,

There is a model-view-value option to make the mask a part of the model.

Using the following code should work
`<input ng-model="test" ui-mask-placeholder ui-mask-placeholder-char="space" ui-mask="9999-99-99 99:99" model-view-value="true" />`

[2016-12-28 00:22] RafaelTaranto commented on #196
Hello @DanielFurmanov, I don't think your use case is ever going to be covered by this lib simply for the fact that is way easier to just use a number specific mask lib.

Have you tried using a lib with input masks for numbers/currency? I guess something like [angular-input-masks](assisrafael/angular-input-masks/) is more appropriate for what you're trying to accomplish.

[2016-12-28 17:50] IbraheemAlSaady opened #203 "adding a plus/minus symbol for time zones"
I'm trying to add a plus/minus symbol for a time zone.
I've modified the definitions in the config like this
[code]
and my html looks like this
[code]

when I choose the time from the time picker, it's fine, but when I type it manually, it highlights the input with red border.
Am I missing on something?

[2016-12-29 14:33] korovaisdead opened #204 "Skip the pr-defined characters in the mask on model binding."
For instance I have the input with the mask: `1 (999) 999 99 99`
When the model for the imput is `12345678900` I've got the viewValue as `1 (123) 456 78 90`.

The first pre-defined letter has been added + the phone number has been cutted (last 0).

Any propositions?

[2016-12-29 15:20] antgonzales commented on #184
+1

[2016-12-29 21:02] sferguson12 opened #205 "Cursor positioned incorrectly when all characters selected"
If all characters in a masked field are selected and the user presses cursor left, the cursor is bumped one extra position to the right of the leftmost masked character.  For example:

(800)555-1212 => Select all => Cursor left => Cursor is positioned after the 8
123-45-6789 => Select all => Cursor left => Cursor is positioned after the 1

This appears to be related to how the isAddition property

[2017-01-09 15:35] sphanley commented on #204
The default Mask definitions are { '9': /\d/, 'A': /[a-zA-Z]/, '*': /[a-zA-Z0-9]/ }. This means that if you use anything other than "9", "A", or "*" in your mask definition, such as the "1" in your example, it's going to be considered a placeholder character rather than part of the value. You need to provide your own mask definitions allowing for "1" as a mask symbol accepting only the numeral 1.

[2017-01-09 15:43] sphanley commented on #204
The default Mask definitions are { '9': /\d/, 'A': /[a-zA-Z]/, '*': /[a-zA-Z0-9]/ }. This means that if you use anything other than "9", "A", or "*" in your mask definition, such as the "1" in your example, it's going to be considered a hard-coded literal character rather than part of the user-entered value, causing the behavior you're seeing. You can work around this by providing your own mask de

[2017-01-09 15:59] korovaisdead commented on #204
That's strange solution.
I may have multiple sets of mask definitions - sometimes 1 shoud act like a placeholder and sometimes not. Different countries have different codes.

And btw it leads to the next issue with the directive. When I'm trying to override the the default mask definitions the old definitions are still in game.

[2017-01-10 09:23] dickyjayaumbara opened #207 "Change ui-mask format on the fly"
hey guys, i have probem with chage ui-mask on the fly,

this my component code:
<input type="input" ng-model="item.totalKlaim" ui-mask="{{mask}}" ng-keyup="updateCurrencyMask(item.totalKlaim)"/>

and this update function for ui-mask:
$scope.updateCurrencyMask = function(value)
            {
            	if(value != "")
            	{
            		var lengthValue = value.length;

	            	var

[2017-01-10 09:24] dickyjayaumbara commented on #207
or other way, how to use ui-mas for unlimited number of currency?

[2017-01-10 13:54] omarmeky commented on #61
You can use a dynamic placeholder to accomplish this. For example (for a valid month):

[code]

[2017-01-10 19:57] Thrilleratplay commented on #185
I already tried arguing this in #166

[2017-01-11 17:51] whyld4900 commented on #185
Here is example of the problem:

https://plnkr.co/edit/xu3G1m?p=preview

[2017-01-11 18:03] Thrilleratplay commented on #185
I believe this is also related to #202 however I'm not sure if I agree with the fix.  There are a [number of other impossible possible falsy values](http://zero.milosz.ca/) beyond `null` and `undefined`

[2017-01-18 17:58] andrymook opened #208 "change event fires twice if I replace one selecting symbol"
How to repeat:

1. Open [Mask HtmlPreview Page](https://htmlpreview.github.io/?https://github.com/angular-ui/ui-mask/master/demo/index.html)
2. Open **Developer Tools**
3. Add "change" event for the first event:
`document.querySelector('input').addEventListener('change', function(event){
  console.log(event);
});`
Or add "change" event for document.body:
`document.body.addEventListener('change', f

[2017-01-26 13:29] caneraydinbey opened #209 "Uimask changes min max lentgh of ng-minlength"
<div layout="column">
        <md-input-container class="md-block" flex-gt-sm>
            <label translate>Company Phone</label>
            <input name="companyPhoneNumber"
                   ui-mask="0(999)-9999999"
                   ng-model="vm.model.companyPhoneNumber"
                   ng-required="true"
                   ng-minlength="11"
                   maxlength="11"

[2017-02-09 17:00] spalonytoster opened #210 "Using ui-mask doesn't work with ng-annotate"
Hello. I want to inject `uiMaskConfigProvider` implicitly (using `ng-annotate`).
I have an angular config function like this:
[code]

The problem is I can't use it like I normally do:
[code]

but I have to do it the standard way.
[code]

What is causing this behavior? Am I missing something?

[2017-02-22 19:19] ekleist commented on #193
Is this still being maintained? I would love to get this fix

[2017-03-08 14:55] chesminsky opened #213 "ui-mask in shadow dom"
Hello.
I know it can sound weird, but i need to use ui-mask in shadow dom.
I use web components spec and i created component that wraps angular app
pls take a look at this plunkr (works in chrome)
[https://plnkr.co/edit/N4j9R2ZhTYNKAyZBa7E6?p=preview](url)

The problem here I find is at line 64 of mask.js `document.activeElement` now points to wrong element (custom element in this case, not an inp

[2017-03-09 02:04] aplocher commented on #196
I'm curious how the optional character works at all.  When I put a "?" in the demo, it seems to require a value there.  I, too, would like to see it work like that.  Only I would like it to cover decimal places, something like 99.9?9? so a user could type 88 or 88.25

[2017-03-09 02:06] aplocher commented on #196
Ok immediately after posting that I realized that my use-case does work if I format it correctly.. Question-mark first! 99.?9?9.  Is this documented ANYWHERE?  There is no Wiki page and the README.md doesn't have mention of this feature at all.

[2017-03-10 19:30] diogoorikassa commented on #123
I have observed this issue in Samsung devices (Note 4 and S7 Edge) with Samsung native keyboard, in others masks too.

[2017-03-21 14:06] Klinton90 opened #214 "Optional parameters should not be selectable from input"
Is it possible to make optional characters not selectable (by mouse, crtl+A, shift+arrow, etc.) from input field?

Say my format is `99-99-99?9?9`. When I enter in that field `11-11-11` then ctrl+A, copy/paste (in another place), pasted value is `11-11-11__`.

[2017-03-22 14:41] Delagen opened #215 "escChar issue"
Try to use mask
`7 \9\93 999 99 99`

[2017-03-30 15:33] busman84 opened #216 "End characters getting deleted"
I am using the ui-mask for a phone field.  If a user fills out the field with the proper digits, lets say (323) 555-1234, is it possible to set the mask to no longer accept any more input unless the user actaully erases a digit.  Currently I am experiencing an issue where if the user goes into the middle of that number and types a 7 then the last digit will be erased.  Using the previous number as

[2017-03-31 14:50] peresbruno opened #217 "Is not possible to identify when a new mask is applied?"
Hello,

i have a input with this definition:

`<input name="{{config.id}}" type="tel" ui-mask="{{mask}}" ng-pattern="pattern" ui-mask-placeholder-char="space" ng-model="ngModel" ng-required="config.required" model-view-value="true" ng-blur="blur();" ng-change="change();" ng-model-options="{ allowInvalid : true }" ui-options="{ allowInvalidValue : true, addDefaultPlaceholder : false }"  >`

This in

[2017-04-03 12:47] firestar300 commented on #217
Same problem here a birthDate field.

[2017-04-03 17:38] peresbruno commented on #217
@firestar300 some workaround?

[2017-04-03 18:25] firestar300 commented on #217
Yes I changed my Regex expression to allow my bithdate with this format : DD/MM/YYYY and this format : DDMMYYYY and it works as expected.

[2017-04-10 10:05] alkasingh19 opened #218 "UI-Mask date issue in Grid cell Tab event"
Hi,
 I have Implemented UI-mask date in my application, functionality not working in Grid when I click tab in cell to go on date cell.
 using below template in directives -
 template: '<input ui-mask="19/39/2999" ui-grid-editor  ui-mask-raw="false" only-Number ng-keypress="limitToValidDate($event)" placeholder="MM/DD/YYYY" />',
 and I have created following cell template for grid column
 var servi

[2017-04-17 17:59] andydion opened #219 "Input not fully clearing when invalidated from programmatically set ng-model"
When bookTripForm.pickup.phone is set programmatically to a value such as "5555555", (7 digits), the input field is empty, but the label is not in the "grey placeholder" state, but shrunken and moved up and darkened as though there was actually values in the empty input field.

Example HTML below:

<md-input-container class="md-block phone-input" flex flex-offset-gt-xs="5">
            <label>{{ '

[2017-04-21 14:55] demorales13 opened #220 "Custom mask for blood pressure"
Hi,
I tried to make a blood pressure mask but I could not. The pattern that I'm using is ^[0-9]{2,3}\/[0-9]{2,3}$. This pattern work fine but the mask does not allow me to place 2 or 3 numbers before or/and after of the "/".
Thanks in advance.

[2017-04-25 17:56] jdnichollsc commented on #123
@burakicel Guys, Does this mistake happen with Crosswalk?

[2017-05-04 06:21] arikanmstf opened #221 "Input type "number" does not work"
`  <input
                  ui-mask="99.99"
                  ng-model="someController.modelName"
                  pattern="[0-9]*"
                  class="some-class"
                  type="text">`

Hello, i want work this mark, so in Iphone devices there will be numeric keyboard. but error :

please do not tell me to use input type text, i have to use number

[2017-05-04 18:55] camilaazuma commented on #177
@frcol is angular-input-masks working? Because I'm having the same problem on it, and then I found that it also uses ui-masks which comes with ui-utils

[2017-05-16 15:47] dkiriakakis opened #222 "Issue with Chrome & Firefox on Samsung devices"
In our webapp we are using a pattern like "?9?9.?9?9.?9?9?9?" for a date field. When the Predictive Text is enabled for the Samsung device's keyboard the field behaves in a really strange way.

Chrome (v58):
You type the 1st digit and everything is ok.
You type the 2nd digit, everything remains ok.
But when you type the 3rd digit the 2nd digit is getting copied.
And then you type the 5th digit, th

[2017-05-17 12:32] dkiriakakis commented on #222
Ok for whoever encounters this issue, for me this solution worked:

Injected into the input elements the following:
autocomplete="off"
autocorrect="off"
pattern-model
spellcheck="off"

"pattern-model" is a custom angular directive see -> http://stackoverflow.com/a/40686169/6999437

[2017-06-14 11:34] Cyclodex commented on #214
Related to #160

Changing the placeholder to `space` would only solve the issue visually, it still would copy all the spaces in the end. Might need some improvements.

[2017-06-15 17:35] feonit commented on #19
"https://plnkr.co/edit/DSM7JNqnRMgDULmfoZEb?p=preview"
that link dos not work already

need some solution here

[2017-06-15 18:19] patlv23 commented on #19
@feonit I made changes to my original plunk, it works there

[2017-06-20 10:03] samshay opened #223 "This project is dead ?"
The last commit dates from 26 Jul 2016.

[2017-06-20 10:10] #223 closed

[2017-07-05 07:01] Vaaceph commented on #29
Hi, I am getting same Issue with Angular2/4, can anyone help me with it?

[2017-07-08 15:00] swrocket opened #224 "Phone number mask"
I want to  give users the ability to enter a phone number in one of two ways: 1-800-555-5555 or 555-555-5555 (where 5 could be any number)
Id this possible? I can certainly do either one but can't figure out how to do both.

TIA

Andrew

[2017-07-19 14:13] meer21 commented on #112
Hi,
Did you find a solution to this issue.

[2017-07-21 20:21] anthonyartese opened #225 "Can't import into angular 4 project"
Does this module support angular 4?  The module is not recognized when adding to app.module.

[2017-08-07 17:56] jrencz opened #226 "Object given as ui-options shouldn't get assigned"
I decided to store an object that is common to some of my masked fields on a module.
Module gets imported to the controller module and the object is assigned onto the controller.
Then the object is passed to ui-options via template expression.

It happened that I defined the original module using `Object.freeze`. I got an error saying that It's not possible to extend the object. It seems like when

[2017-08-09 16:34] MathewBerg opened #227 "Paste in old versions not working for certain mobile configurations"
You can replicate this on the demo. We have a note3 at our work that has Android 5.0.0 and chrome 39.0.2171.93. When pasting into the field with an input mask nothing is happening. I've tried on a more recent nexus6p running latest and it is fine leading me to believe it's an older version of chrome.

[2017-08-09 16:48] jrencz opened #228 "Glitch if mask contains prefix and prefix has space character"
I have 2 fields in my project requiring mask to have some prefix.
Prefix is supposed to be shown inside the field (just as mask is)

Another story is that I have my own directive to apply this prefix
to both mask and model value for my own convenience, but this
bug is not related to that code since I was able to reproduce it
on Codepen (linked below)

Current latest release of uiMask (1.8.7) has a

[2017-08-15 11:11] daric81 commented on #113
I think this would be a great additional feature for this library.

[2017-08-15 15:02] daric81 opened #229 "Allow modelViewValue to be set via config rather than element attribute"
Would be nice to be able to set this in one place, rather than per instance.

[2017-08-16 08:59] PowerKiKi commented on #113
@daric81 since there is no active "core" developers anymore, I think it would be best to submit a PR implementing what you want instead of keeping a list of things to do with nobody doing it

[2017-08-22 19:18] MAbdulHalim commented on #154
just add "?" like `ui-mask="(?9?9?9) ?9?9?9?9-?9?9?9?9" `

[2017-08-22 19:18] MAbdulHalim commented on #78
just add "?" like `ui-mask="(?9?9?9) ?9?9?9?9-?9?9?9?9" `

[2017-09-05 10:43] gabguy commented on #194
+1

[2017-09-21 15:24] jrencz opened #230 "config provider name is incorrect"
Name of registered provider is `uiMask.Config` so in config blocks it has to be referred to as `uiMask.ConfigProvider`.

This limits the possibilities of accessing it in config blocks to explicit annotation like this:

[code]

but an attempt to use implicit annotation (and possibly [ng-annotate](https://github.com/olov/ng-annotate) or its successor [babel-plugin-angularjs-annotate](https://github.

[2017-10-03 10:33] Rui90 opened #231 "Mask not being properly formatted"
I have the following input:

`    <input type="text" id="cpfcnpj" ng-model="PersonalIdentificationNumber" ui-mask-placeholder="" ui-mask="000.000.000-00" name="PersonalIdentificationNumber" model-view-value="true" required="" readonly="" class="ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched">
`
But when I receive data to fill the input and apply that same data to the ng-model:

`

[2017-10-03 11:22] Rui90 commented on #231
Just found what was wrong with it:

I set the mask to: '999.999.999-99';

[2017-10-03 11:22] #231 closed

[2017-10-25 19:37] anjhinz opened #232 "Caret skips to second digit on focus when phone number already present"
Can be seen here:
http://plnkr.co/edit/CDG941601WdHPMEdlEdG?p=preview

Type a phone number (that does NOT contain any 5's).  Shift+Tab to lose focus, then Tab to focus phone number text field. Cursor skips to after the first digit after a half second pause.

[2017-10-26 12:46] raphaeloneves commented on #136
Nice! This is exactly what I was looking for. Tks

[2017-11-14 10:18] jihin opened #233 "Cursor position in ui-number-mask is incorrect"
I am added `ui-number-mask` to my textbox. When I entering the number validation is working correctly the problem is the position of the cursor is last. When I need to enter 10,  It needs 1 0 0 0. total 4 numbers.  How to fix the issue

[2017-11-16 11:41] Rui90 opened #234 "Mask value being setted as 0 if null"
I have this input using ui-mask

<input type="text" ui-mask-placeholder ui-mask="99999-999" ng-model="AddressPostalCode" name="AddressPostalCode">

But if I do not set a value, my scope will have the value 0, and this info will be sent. Why? Is there no simple way to if the mask is not correct or something, it just goes as null?

[2017-11-23 23:51] Jammy42 opened #235 "Paste not working"
Pasting a value does not work if there is a "constant" in the placeholder. If using https://htmlpreview.github.io/?https://github.com/angular-ui/ui-mask/master/demo/index.html:

For example:

ui-mask = (123) 999-9999, where 123 is a constant prefix. If the value 123 333-3333 is pasted
 then the value in the mask is displayed as (123) 123-3333. Basically 123 prefix ist duplicated.

The bug lies in

[2017-12-13 13:20] H3ll0W0rld commented on #31
+1 much needed feature

[2017-12-25 21:00] hadason opened #236 "package v1.8.7 on npm is not up to date with the code in the repo"
The last commit is missing from the package on npm (v1.8.7).  (https://www.npmjs.com/package/angular-ui-mask)

The following code is not part of the mask.js file in the dist folder:
[code]

[2018-01-15 13:04] isener opened #237 "allowInvalidTrue causes backspace deletes all"
![screenshot at jan 15 16-03-42](https://user-images.githubusercontent.com/10687714/34943677-ac1fccbc-fa0d-11e7-8e94-19ca86d0ce90.png)

When we type into input, there is no problem. But when we delete 1 character from that input, it deletes all within typed as shown;

![screenshot at jan 15 16-04-38](https://user-images.githubusercontent.com/10687714/34943702-ccf75cac-fa0d-11e7-8261-aa98acd80b09.p

[2018-01-16 10:55] isener commented on #237
I found solution that you have to remove `keyup` event from this global setting;
`uiMaskConfigProvider.eventsToHandle(["input", "click", "focus"]);`

[2018-01-24 17:04] Alanzhoffmann opened #238 "Add option to reverse fill"
An issue I've found is when the first characters are optional, I have to fill them anyway for my mask to actually work.

`<input ng-model="time" ui-mask="9?9?9:99" />`

Filling it from right to left would make it possible to type `545` and it show up `5:45` instead of `545:__` as it is.
Additionally it would be perfect if I could type infinitely for it to mask only the end, something like

`<input

[2018-02-07 18:36] paredesivan commented on #221
@JosephMart @arikanmstf try with type="tel"

[2018-02-21 15:45] jeanabraham commented on #186
The other option is:

HTML:

`<input type='text' ui-mask-placeholder-char="space" ui-mask='{{zipMask}}' required ng-model="zipCode" name="personZipCode" ng-change="checkZipMask()">`

JS:
[code]

[2018-02-26 16:42] didnotwant commented on #153
I had the same issue with Polish characters in placeholder.
I investigated the problem and the `input` event which is fired by IE has its own `data` property `undefined` so it’s easy to detect it.
I think that adding:
[code]
to this condition (as another alternative):
[code]
would be necessary but in my case I don’t want to fork this project (it seems to be no longer maintained, though).

[2018-02-28 10:23] leminh111 commented on #230
Totally agree. In the mean time, we can work around the issue by using `$injector` to get `uiMask.ConfigProvider`.

[code]

[2018-02-28 10:25] jrencz commented on #230
`$injector` is a service. It won't be available in the config phase

[2018-02-28 11:12] leminh111 commented on #230
It's what I thought originally. I'm not really understand the way Angular work myself, but the above code is working. And it seems there are 2 different, separate `$injector` in angular, one is responsible for injecting the providers, one is for services.

More detail here: https://github.com/angular/angular.js/issues/5559

I also did a test, if you inject an `$injector` in the `config` block, and

[2018-03-14 15:32] goiabetks commented on #136
Nice!

[2018-03-16 22:40] jewpaltz commented on #125
ui-mask="{{y}}" does not work. It actually seams to be evaluated once on page load, but not again after that

[2018-07-03 13:40] rafaelcorradini commented on #221
Use inputmode="numeric" instead.

[2018-07-31 09:22] leochinacn opened #240 "can work with other "directive" together?"
like it:
[code]

but cdate's value had problem

[2018-08-14 13:17] ushaAmbig opened #241 "Cursor position is wrong when Voice over is on"
Hi,

I'm facing this problem of cursor pointed at the end of the textbox even if no characters are typed in. This problem is observed only in ios devices, when the voice over is on.

![img_0430](https://user-images.githubusercontent.com/12288346/44093636-bcc2896c-9ff1-11e8-8b28-0b3fe10e943b.PNG)

I have the following code for the phone number mask:
[code]

Thanks in Advance.

[2018-09-06 11:07] soumyamishra12 opened #242 "Deleting using back space properly not working while it's a masked field like phone number"
I am trying to delete a selected text out of a masked phone number and it doesn't delete the selected text rather it deletes the the previous value.

The example is same as http://jsbin.com/hasosog/7/edit?html,css,js,output.

There is a work around for ngMask but not for ui-mask ,Please help .

[2018-09-18 21:39] gophynna commented on #207
Did you ever figure out how to do this?

[2018-09-19 02:44] soumyamishra12 commented on #207
I didn't have any work around for the same after downgrading to 1.6.1 it
worked

On Wed, Sep 19, 2018, 3:09 AM gophynna <notifications@github.com> wrote:

[2018-09-19 14:47] gophynna commented on #207
Can you show how you implemented your mask?  thank you!

[2018-09-19 15:33] soumyamishra12 commented on #207
I am using ui-mask same way without tweaking much as shown in ui-mask demo
in angular formly page and the 1.6.2 version works perfectly and ng mask
also

Regards,
Soumya

On Wed, Sep 19, 2018, 8:18 PM gophynna <notifications@github.com> wrote:

[2018-09-20 14:26] gophynna commented on #207
Will downgrading allow the user to keep typing even after the mask is applied?  My problem is that even with a variable for the mask, it will not let input continue once a mask has been applied.

[2018-09-20 14:30] soumyamishra12 commented on #207
Can u show the issue in plunker it somewhere if possible

On Thu, Sep 20, 2018, 7:57 PM gophynna <notifications@github.com> wrote:

[2018-10-16 14:08] vvnc opened #243 "Cursor moves to the second character after mouse select all and enter new character"
**Bug**

Steps to reproduce:
1. Go to the official demo page: https://htmlpreview.github.io/?https://github.com/angular-ui/ui-mask/master/demo/index.html
2. Select some mask e.g. `(999) 999-9999`
3. Enter any characters to the "Masked input" field
4. Put the mouse cursor at the end
5. Select half of characters with the left mouse key __not leaving the input__
6. Continue selection with the left mo

[2018-10-16 14:58] vvnc opened #245 "Cursor moves to the one before last position if select mask character and enter new values"
**Bug**
Steps to reproduce:
1. Go to the official demo page: https://htmlpreview.github.io/?https://github.com/angular-ui/ui-mask/master/demo/index.html
2. Select some mask e.g. `(999) 999-9999`
3. Enter any characters in the "Masked input" field
4. Put the cursor at the end
5. Select characters including any __mask__ character, e.g. `-` or `)`
6. Enter any characters

Result: cursor is on the __*

[2018-11-02 16:38] LukasBeaton commented on #125
Hey @jewpaltz,

Did you end of finding a solution to this?

I am experiencing a similar issue with the "model-view-value" attribute for the ui-mask directive. The attribute "ui-mask" itself is being updated property for me. I am using ui-mask version 1.8.2 on an older project.

[2018-11-22 12:35] divanvisagie commented on #223
I think it would be the responsible thing to do to archive this project, there are a lot of unaddressed bugs that actually make it unusable and it would be nice to have a warning about that.

[2018-11-22 12:38] divanvisagie opened #246 "Archive this project"
I have been trying to use this library and have encountered bugs that have sat open since 2016 on the issues list. It would have been nice if the project had warned me of the broken state of the library and I think archiving the project would have been a fair warning.

Related to: https://github.com/angular-ui/ui-mask/issues/223

[2018-11-22 17:01] ivaldo opened #247 "ui-mask="1.1.9.999" error"
When trying to set the start "1.2.3.4.5", using the mask "1.2.3.4.5.9.999", for example, the input does not accept the entered value, automatically prepending with a random digit.

`package.json -> angular-ui-mask": "^1.8.7"`
`sample code: <input type="text" ng-model="field" ui-mask="1.1.9.999">`

[2019-01-22 08:13] Akta3d opened #248 "Is it possible to have 2 mask"
I need have a mask wich accept :
9999 99 99
and
9999 99 99 AAA

[2019-01-23 15:24] babramczyk opened #249 "Demo page inoperable"
Pretty much everything on the demo page, including clicking any of the example masks, aren't working at all.

[2019-01-24 00:43] ProLoser commented on #249
This project no longer has an active maintainer. The role is open to anyone who may be interested.

[2019-01-24 00:44] ProLoser commented on #246
This project no longer has an active maintainer. The role is open to anyone who may be interested. If you think it's better to just archive the project (which prevents people from submitting new comments or issues, including stepping up to take over the project) that may be an option.

[2019-01-28 14:54] divanvisagie commented on #246
The project still has 12,848 weekly downloads (at the time of writing this comment). I guess the question is whether or not those users would appreciate updates or if they are happy with the work arounds.

I personally would like to try and get some of those pull requests merged and maybe move the demo page to a GitHub pages hosted solution, though I certainly feel like a fish out of water when it

[2019-03-29 07:03] TTNarendran commented on #135
can I call a function in ui-mask .Kindly let me know asap
example
<input type="text" ui-options="options" name="myPhone"  ui-mask="controller.myfun()"

[2020-04-10 18:18] #198 closed